default/DDDs.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1733422941841,
    "description" : "",
    "identifier" : "DDDs",
    "lastModifiedTimestamp" : 1733422941841,
    "name" : "DDD's",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "cde04409-f32e-32f7-bf4e-6b0248e6603d",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b8763c38-2d3a-3815-b348-67f7ef7cb047",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "8586105a-b30c-3177-bdc2-bce3df1b6e3c",
        "name" : "num_subs > 1",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "fce14479-c39f-3cd1-84e8-88d2c584b80b",
        "name" : "Animal status",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "107eefb5-e9fd-3eb0-bb1d-de1b0ed9366e",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "cde04409-f32e-32f7-bf4e-6b0248e6603d",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ce0be454-5ce4-3ac6-8df6-321182f06ff9",
        "name" : "MergeContent by sa_sporsms",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2a6da5e1-3b8b-300d-ab58-859d716123f9",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "DRY_COW" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "fce14479-c39f-3cd1-84e8-88d2c584b80b",
        "name" : "Animal status",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "8b13e5aa-8fc5-36e4-99b5-4beabb605f09",
        "name" : "Combi = True",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "7f08ad3f-e6e7-3660-9ec6-7fdeb8a76078",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "unmatched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "fce14479-c39f-3cd1-84e8-88d2c584b80b",
        "name" : "Animal status",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1d94cb3d-9f5e-3f0e-b765-98765f0d15fc",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40acceb6-cdd5-3c0e-98b2-4872064c543f",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "unmatched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "8586105a-b30c-3177-bdc2-bce3df1b6e3c",
        "name" : "num_subs > 1",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "7005e6e2-da81-333d-ab0e-73ebdc924ac8",
        "name" : "Agrupa por combinação",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "06e5c3f3-5592-3cd8-a2a5-f1bdef519b41",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "2ea8702a-e278-3e88-98f5-fdd4e0c237d5",
        "name" : "subs_ddd_dcd",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f62a04aa-8898-3605-9ff0-81d4e8296be8",
        "name" : "MergeContent by sa_sporsms",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "8736cff2-83e0-316f-bfc6-251f3b226c8d",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "unmatched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "8b13e5aa-8fc5-36e4-99b5-4beabb605f09",
        "name" : "Combi = True",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "151181f0-f063-385d-80f4-64150b9332da",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "0b35a434-a29c-3ef8-84eb-965e5717e9be",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "original" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "3094cd53-f498-37e1-bdc3-fec343678e19",
        "name" : "SplitJson",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "2175886a-e1fa-3252-87f1-ea73e6c0f084",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "aff6272e-6971-3e40-b4db-192de9d6a498",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "original" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "34113e28-9bc4-39ff-9db6-fa42f2d16d9f",
        "name" : "SplitJson",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "34113e28-9bc4-39ff-9db6-fa42f2d16d9f",
        "name" : "SplitJson",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3a951552-5bb0-3787-b497-7889aa39ed51",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "7005e6e2-da81-333d-ab0e-73ebdc924ac8",
        "name" : "Agrupa por combinação",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "cda0c52a-cdbe-3dd7-968f-8d76ed49085b",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "fea3aee1-b29d-3eca-9a2f-df28c862e0ed",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "merged" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "68f303b9-7844-3934-9bb1-1dd9774e4f5b",
        "name" : "Merge_Medicamentos",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1396ddbf-2fb6-31e9-a940-04db8e827969",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "0a85e72d-9424-34b3-8a21-dfef240acb67",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "merged" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1592946c-f141-338e-b1b2-cc16e92ac3f8",
        "name" : "Merge_Medicamentos_Simples",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "8586105a-b30c-3177-bdc2-bce3df1b6e3c",
        "name" : "num_subs > 1",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9cf93023-2a44-357a-b941-8053f397651f",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d78fdc5f-6902-34d4-80ea-449e902bbdea",
        "name" : "Extrair atributos",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1396ddbf-2fb6-31e9-a940-04db8e827969",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4d06d3d6-d6d7-3d79-bdfe-38d949e2eb1c",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "2dc8ea54-4882-33ea-ae08-01d66ea6e57d",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "3094cd53-f498-37e1-bdc3-fec343678e19",
        "name" : "SplitJson",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d41b2cde-c150-3db0-a8dd-fb01402ff347",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a6841abb-af2a-3684-845c-a2bce6a26bd8",
        "name" : "Agrupa medicamentos",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "2dc8ea54-4882-33ea-ae08-01d66ea6e57d",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "803646a6-dce6-37f8-8f51-896c7f00c4d4",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "merged" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d285e5c6-ae32-3759-a01e-2b299bdcd292",
        "name" : "MergeContent by sa_sporsms",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "2dc8ea54-4882-33ea-ae08-01d66ea6e57d",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2ff1c34a-0051-3942-a54b-8b8088855b13",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "merged" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "464bb2dc-5b00-3e58-a283-25cb31a2ee33",
        "name" : "MergeContent by sa_sporsms",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "cde04409-f32e-32f7-bf4e-6b0248e6603d",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c8bb8875-3b81-3b0e-bbe9-3f01381a2316",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "2fe1943a-1f79-305f-abf8-12fab055ece2",
        "name" : "Combi = True",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "7931da38-e3fa-3743-b7d9-0158c98f8f98",
        "name" : "MergeContent by sa_sporsms",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "be644870-0ad1-39e5-a638-df06d4c2a65a",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "CATTLE" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "fce14479-c39f-3cd1-84e8-88d2c584b80b",
        "name" : "Animal status",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "464bb2dc-5b00-3e58-a283-25cb31a2ee33",
        "name" : "MergeContent by sa_sporsms",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b0271179-9a7e-33a4-aabd-262c5f21f8e1",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "BROILERS" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "fce14479-c39f-3cd1-84e8-88d2c584b80b",
        "name" : "Animal status",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1592946c-f141-338e-b1b2-cc16e92ac3f8",
        "name" : "Merge_Medicamentos_Simples",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9843aadb-05d5-3826-ac63-159650d93cb3",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1d94cb3d-9f5e-3f0e-b765-98765f0d15fc",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a6841abb-af2a-3684-845c-a2bce6a26bd8",
        "name" : "Agrupa medicamentos",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f8e21d42-61eb-3bd2-a751-e9eb346e445c",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "3d4b5d65-8770-34fe-a2b2-69b57924671e",
        "name" : "vm_product_subs",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1592946c-f141-338e-b1b2-cc16e92ac3f8",
        "name" : "Merge_Medicamentos_Simples",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "08cc9b8e-1c07-37c8-b8d6-5c6c54b65b23",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "9b3e6dbe-4155-355f-8e5f-2e1fbec82ba1",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "68f303b9-7844-3934-9bb1-1dd9774e4f5b",
        "name" : "Merge_Medicamentos",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4986d37c-9c33-34c7-ae0d-9154577641b7",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1396ddbf-2fb6-31e9-a940-04db8e827969",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d285e5c6-ae32-3759-a01e-2b299bdcd292",
        "name" : "MergeContent by sa_sporsms",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "17ab9478-a9e9-338a-b1d7-368e095611dc",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "LACTATING" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "fce14479-c39f-3cd1-84e8-88d2c584b80b",
        "name" : "Animal status",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "2dc8ea54-4882-33ea-ae08-01d66ea6e57d",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "7877d786-c3b2-3ceb-9b62-67194b8cc0d9",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "merged" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "7931da38-e3fa-3743-b7d9-0158c98f8f98",
        "name" : "MergeContent by sa_sporsms",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "14e041a6-868c-3b89-8f6a-7708a5715830",
        "name" : "Extrair atributos",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "69213afa-5933-3e1a-b02e-22f7ffda4abe",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "split" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "34113e28-9bc4-39ff-9db6-fa42f2d16d9f",
        "name" : "SplitJson",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "2dc8ea54-4882-33ea-ae08-01d66ea6e57d",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2ce11212-9074-3e15-8e13-a797d127fd97",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "merged" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ce0be454-5ce4-3ac6-8df6-321182f06ff9",
        "name" : "MergeContent by sa_sporsms",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "9b3e6dbe-4155-355f-8e5f-2e1fbec82ba1",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4c43ca06-12f4-323f-800a-6d7db8091dd9",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "8b13e5aa-8fc5-36e4-99b5-4beabb605f09",
        "name" : "Combi = True",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "9b3e6dbe-4155-355f-8e5f-2e1fbec82ba1",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b02cf9a6-56b2-305e-b66c-c8570a0050db",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "unmatched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "2fe1943a-1f79-305f-abf8-12fab055ece2",
        "name" : "Combi = True",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d78fdc5f-6902-34d4-80ea-449e902bbdea",
        "name" : "Extrair atributos",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "aa561461-e20c-3e8a-92f7-d7abd1b6ce2a",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "split" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "3094cd53-f498-37e1-bdc3-fec343678e19",
        "name" : "SplitJson",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "2fe1943a-1f79-305f-abf8-12fab055ece2",
        "name" : "Combi = True",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a5d5eff0-64fb-37e2-b464-cce5f2e34150",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "14e041a6-868c-3b89-8f6a-7708a5715830",
        "name" : "Extrair atributos",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a71156c4-3f0d-39c8-9f2c-1e011b728529",
      "name" : "JsonRecordSetWriter",
      "properties" : {
        "Allow Scientific Notation" : "false",
        "compression-level" : "1",
        "Pretty Print JSON" : "true",
        "compression-format" : "none",
        "Schema Write Strategy" : "no-schema",
        "suppress-nulls" : "never-suppress",
        "output-grouping" : "output-array",
        "schema-name" : "${schema.name}",
        "schema-access-strategy" : "schema-text-property",
        "schema-text" : "{\n  \"type\": \"record\",\n  \"name\": \"TableSchema\",\n  \"fields\": [\n    {\"name\": \"id\", \"type\": \"int\"},\n    {\"name\": \"comp\", \"type\": \"string\"},\n    {\"name\": \"species_bit\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"status\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"atcvet\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"sa_order\", \"type\": [\"null\", \"int\"], \"default\": null},\n    {\"name\": \"sa_sporsms\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"sa_desc\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"antimicro_class\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"route_ddd\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"route_bit\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"dddvet\", \"type\": [\"null\", \"float\"], \"default\": null},\n    {\"name\": \"dcdvet\", \"type\": [\"null\", \"float\"], \"default\": null},\n    {\"name\": \"unit\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"conv_factor\", \"type\": [\"null\", \"float\"], \"default\": null},\n    {\"name\": \"combi\", \"type\": [\"null\", \"boolean\"], \"default\": null},\n    {\"name\": \"acting\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"obs\", \"type\": [\"null\", \"string\"], \"default\": null}\n  ]\n}"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Allow Scientific Notation" : {
          "displayName" : "Allow Scientific Notation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Scientific Notation",
          "sensitive" : false
        },
        "compression-level" : {
          "displayName" : "Compression Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-level",
          "sensitive" : false
        },
        "schema-cache" : {
          "displayName" : "Schema Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-cache",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Pretty Print JSON" : {
          "displayName" : "Pretty Print JSON",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print JSON",
          "sensitive" : false
        },
        "compression-format" : {
          "displayName" : "Compression Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-format",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "suppress-nulls" : {
          "displayName" : "Suppress Null Values",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "suppress-nulls",
          "sensitive" : false
        },
        "output-grouping" : {
          "displayName" : "Output Grouping",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "output-grouping",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        },
        "Schema Reference Writer" : {
          "displayName" : "Schema Reference Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Writer",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonRecordSetWriter"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b64ecb7e-25da-3d17-b641-5c2582c7a71a",
      "name" : "JsonTreeReader",
      "properties" : {
        "Max String Length" : "20 MB",
        "schema-application-strategy" : "SELECTED_PART",
        "schema-name" : "${schema.name}",
        "starting-field-strategy" : "ROOT_NODE",
        "schema-access-strategy" : "infer-schema",
        "schema-text" : "${avro.schema}",
        "Allow Comments" : "false"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "schema-application-strategy" : {
          "displayName" : "Schema Application Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-application-strategy",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "schema-inference-cache" : {
          "displayName" : "Schema Inference Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-inference-cache",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "starting-field-strategy" : {
          "displayName" : "Starting Field Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "starting-field-strategy",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "starting-field-name" : {
          "displayName" : "Starting Field Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "starting-field-name",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        },
        "Allow Comments" : {
          "displayName" : "Allow Comments",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Comments",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonTreeReader"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "055d650c-6599-346b-9194-f78aca7a405b",
      "name" : "JsonRecordSetWriter_MERGE",
      "properties" : {
        "Allow Scientific Notation" : "false",
        "compression-level" : "1",
        "Pretty Print JSON" : "false",
        "compression-format" : "none",
        "Schema Write Strategy" : "no-schema",
        "suppress-nulls" : "never-suppress",
        "output-grouping" : "output-array",
        "schema-name" : "${schema.name}",
        "schema-access-strategy" : "schema-text-property",
        "schema-text" : "{\n  \"type\": \"record\",\n  \"name\": \"MERGE\",\n  \"fields\": [\n    {\"name\": \"id\", \"type\": \"int\"},\n    {\"name\": \"us_cum\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"cum\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"atc_code\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"aim_code\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"official_id\", \"type\": [\"null\", \"int\"], \"default\": null},\n    {\"name\": \"shortdesc\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"presentation\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"ab\", \"type\": [\"null\", \"boolean\"], \"default\": null},\n    {\"name\": \"pm\", \"type\": [\"null\", \"boolean\"], \"default\": null},\n    {\"name\": \"species\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"species_bit\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"uom_categ\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"uom_categ_id\", \"type\": [\"null\", \"int\"], \"default\": null},\n    {\"name\": \"measure_tot\", \"type\": [\"null\", \"float\"], \"default\": null},\n    {\"name\": \"measure_tot_un\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"sa_sporsms\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"sa_desc\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"sa_dose\", \"type\": [\"null\", \"float\"], \"default\": null},\n    {\"name\": \"sa_dose_un\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"measure_unit\", \"type\": [\"null\", \"float\"], \"default\": null},\n    {\"name\": \"measure_unit_un\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"sa_princ\", \"type\": \"boolean\", \"default\": false},\n    {\"name\": \"route_bit\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"acting\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"animal_status\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"active\", \"type\": \"boolean\", \"default\": true},\n    {\"name\": \"updated\", \"type\": \"string\", \"logicalType\": \"timestamp-millis\"},\n    {\"name\": \"tags\", \"type\": [\"null\", \"string\"], \"default\": null},\n\t{\"name\": \"num_subs\", \"type\": [\"null\", \"int\"], \"default\": null},\n    {\"name\": \"comp\", \"type\": \"string\"},\n    {\"name\": \"status\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"atcvet\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"sa_order\", \"type\": [\"null\", \"int\"], \"default\": null},\n    {\"name\": \"antimicro_class\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"route_ddd\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"dddvet\", \"type\": [\"null\", \"float\"], \"default\": null},\n    {\"name\": \"dcdvet\", \"type\": [\"null\", \"float\"], \"default\": null},\n    {\"name\": \"unit\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"conv_factor\", \"type\": [\"null\", \"float\"], \"default\": null},\n    {\"name\": \"combi\", \"type\": [\"null\", \"boolean\"], \"default\": null},\n    {\"name\": \"obs\", \"type\": [\"null\", \"string\"], \"default\": null}\n  ]\n}\n"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Allow Scientific Notation" : {
          "displayName" : "Allow Scientific Notation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Scientific Notation",
          "sensitive" : false
        },
        "compression-level" : {
          "displayName" : "Compression Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-level",
          "sensitive" : false
        },
        "schema-cache" : {
          "displayName" : "Schema Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-cache",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Pretty Print JSON" : {
          "displayName" : "Pretty Print JSON",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print JSON",
          "sensitive" : false
        },
        "compression-format" : {
          "displayName" : "Compression Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-format",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "suppress-nulls" : {
          "displayName" : "Suppress Null Values",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "suppress-nulls",
          "sensitive" : false
        },
        "output-grouping" : {
          "displayName" : "Output Grouping",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "output-grouping",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        },
        "Schema Reference Writer" : {
          "displayName" : "Schema Reference Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Writer",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonRecordSetWriter"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-dbcp-service-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "type" : "org.apache.nifi.dbcp.DBCPService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "82869c99-361d-3767-9f03-b7be5cc98a0b",
      "name" : "DBCPConnectionPool",
      "properties" : {
        "dbcp-min-idle-conns" : "0",
        "Max Wait Time" : "500 millis",
        "Database Driver Class Name" : "org.postgresql.Driver",
        "dbcp-min-evictable-idle-time" : "30 mins",
        "Max Total Connections" : "8",
        "dbcp-max-conn-lifetime" : "-1",
        "Database Connection URL" : "jdbc:postgresql://mypostgres:5432/ddds",
        "dbcp-time-between-eviction-runs" : "-1",
        "Database User" : "postgres",
        "dbcp-soft-min-evictable-idle-time" : "-1",
        "database-driver-locations" : "/opt/nifi/nifi-current/jdbc/postgresql-42.7.4.jar",
        "dbcp-max-idle-conns" : "8"
      },
      "propertyDescriptors" : {
        "dbcp-min-idle-conns" : {
          "displayName" : "Minimum Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-min-idle-conns",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Driver Class Name" : {
          "displayName" : "Database Driver Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Driver Class Name",
          "sensitive" : false
        },
        "dbcp-min-evictable-idle-time" : {
          "displayName" : "Minimum Evictable Idle Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-min-evictable-idle-time",
          "sensitive" : false
        },
        "Max Total Connections" : {
          "displayName" : "Max Total Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Total Connections",
          "sensitive" : false
        },
        "dbcp-max-conn-lifetime" : {
          "displayName" : "Max Connection Lifetime",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-max-conn-lifetime",
          "sensitive" : false
        },
        "Validation-query" : {
          "displayName" : "Validation query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Validation-query",
          "sensitive" : false
        },
        "Database Connection URL" : {
          "displayName" : "Database Connection URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Connection URL",
          "sensitive" : false
        },
        "dbcp-time-between-eviction-runs" : {
          "displayName" : "Time Between Eviction Runs",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-time-between-eviction-runs",
          "sensitive" : false
        },
        "Database User" : {
          "displayName" : "Database User",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database User",
          "sensitive" : false
        },
        "kerberos-user-service" : {
          "displayName" : "Kerberos User Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "kerberos-user-service",
          "sensitive" : false
        },
        "dbcp-soft-min-evictable-idle-time" : {
          "displayName" : "Soft Minimum Evictable Idle Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-soft-min-evictable-idle-time",
          "sensitive" : false
        },
        "database-driver-locations" : {
          "displayName" : "Database Driver Location(s)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "database-driver-locations",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "FILE", "DIRECTORY", "URL" ]
          },
          "sensitive" : false
        },
        "dbcp-max-idle-conns" : {
          "displayName" : "Max Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-max-idle-conns",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "26c267fa-0529-30b6-8edb-2a7627bfbee9",
      "name" : "JsonRecordSetWriter_VM_PRODUCT",
      "properties" : {
        "Allow Scientific Notation" : "false",
        "compression-level" : "1",
        "Pretty Print JSON" : "true",
        "compression-format" : "none",
        "Schema Write Strategy" : "no-schema",
        "suppress-nulls" : "never-suppress",
        "output-grouping" : "output-array",
        "schema-name" : "${schema.name}",
        "schema-access-strategy" : "schema-text-property",
        "schema-text" : "{\n  \"type\": \"record\",\n  \"name\": \"VmProductSchema\",\n  \"fields\": [\n    {\"name\": \"id\", \"type\": \"int\"},\n    {\"name\": \"us_cum\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"cum\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"atc_code\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"aim_code\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"official_id\", \"type\": [\"null\", \"int\"], \"default\": null},\n    {\"name\": \"shortdesc\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"presentation\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"ab\", \"type\": [\"null\", \"boolean\"], \"default\": null},\n    {\"name\": \"pm\", \"type\": [\"null\", \"boolean\"], \"default\": null},\n    {\"name\": \"species\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"species_bit\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"uom_categ\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"uom_categ_id\", \"type\": [\"null\", \"int\"], \"default\": null},\n    {\"name\": \"measure_tot\", \"type\": [\"null\", \"float\"], \"default\": null},\n    {\"name\": \"measure_tot_un\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"sa_sporsms\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"sa_desc\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"sa_dose\", \"type\": [\"null\", \"float\"], \"default\": null},\n    {\"name\": \"sa_dose_un\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"measure_unit\", \"type\": [\"null\", \"float\"], \"default\": null},\n    {\"name\": \"measure_unit_un\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"sa_princ\", \"type\": \"boolean\", \"default\": false},\n    {\"name\": \"route_bit\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"acting\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"animal_status\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"active\", \"type\": \"boolean\", \"default\": true},\n    {\"name\": \"updated\", \"type\": \"string\", \"logicalType\": \"timestamp-millis\"},\n    {\"name\": \"tags\", \"type\": [\"null\", \"string\"], \"default\": null},\n\t{\"name\": \"num_subs\", \"type\": [\"null\", \"int\"], \"default\": null}\n  ]\n}"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Allow Scientific Notation" : {
          "displayName" : "Allow Scientific Notation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Scientific Notation",
          "sensitive" : false
        },
        "compression-level" : {
          "displayName" : "Compression Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-level",
          "sensitive" : false
        },
        "schema-cache" : {
          "displayName" : "Schema Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-cache",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Pretty Print JSON" : {
          "displayName" : "Pretty Print JSON",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print JSON",
          "sensitive" : false
        },
        "compression-format" : {
          "displayName" : "Compression Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-format",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "suppress-nulls" : {
          "displayName" : "Suppress Null Values",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "suppress-nulls",
          "sensitive" : false
        },
        "output-grouping" : {
          "displayName" : "Output Grouping",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "output-grouping",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        },
        "Schema Reference Writer" : {
          "displayName" : "Schema Reference Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Writer",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonRecordSetWriter"
    } ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2dc8ea54-4882-33ea-ae08-01d66ea6e57d",
      "position" : {
        "x" : -64.0,
        "y" : 1992.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9b3e6dbe-4155-355f-8e5f-2e1fbec82ba1",
      "position" : {
        "x" : 2216.0,
        "y" : 1480.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1d94cb3d-9f5e-3f0e-b765-98765f0d15fc",
      "position" : {
        "x" : -1689.3923248836497,
        "y" : 1516.1275031527916
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "cda0c52a-cdbe-3dd7-968f-8d76ed49085b",
      "position" : {
        "x" : -48.0,
        "y" : 3224.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2175886a-e1fa-3252-87f1-ea73e6c0f084",
      "position" : {
        "x" : 768.0,
        "y" : 384.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2d00c071-6ad9-36f2-91ef-250f6bab357d",
      "position" : {
        "x" : 1448.0,
        "y" : 3240.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "151181f0-f063-385d-80f4-64150b9332da",
      "position" : {
        "x" : -1176.0,
        "y" : 368.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1396ddbf-2fb6-31e9-a940-04db8e827969",
      "position" : {
        "x" : -80.0,
        "y" : 2496.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "cde04409-f32e-32f7-bf4e-6b0248e6603d",
      "position" : {
        "x" : -152.0,
        "y" : 1064.0
      }
    } ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "DDD's",
    "outputPorts" : [ ],
    "parameterContextName" : "DEV",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "fce14479-c39f-3cd1-84e8-88d2c584b80b",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Animal status",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -312.0,
        "y" : 1152.0
      },
      "properties" : {
        "DRY_COW" : "${animal_status:toString():matches('\\\\[\"DRY_COW\"(,\"DRY_COW\")*\\\\]')}",
        "Routing Strategy" : "Route to Property name",
        "BROILERS" : "${animal_status:toString():matches('\\\\[\\\"BROILERS\\\"(, \\\"BROILERS\\\")*\\\\]')}",
        "CATTLE" : "${animal_status:toString():matches('\\\\[\\\"CATTLE\\\"(, \\\"CATTLE\\\")*\\\\]')}",
        "LACTATING" : "${animal_status:toString():matches('\\\\[\"LACTATING\"(,\"LACTATING\")*\\\\]')}"
      },
      "propertyDescriptors" : {
        "DRY_COW" : {
          "displayName" : "DRY_COW",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "DRY_COW",
          "sensitive" : false
        },
        "Routing Strategy" : {
          "displayName" : "Routing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Routing Strategy",
          "sensitive" : false
        },
        "BROILERS" : {
          "displayName" : "BROILERS",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "BROILERS",
          "sensitive" : false
        },
        "CATTLE" : {
          "displayName" : "CATTLE",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "CATTLE",
          "sensitive" : false
        },
        "LACTATING" : {
          "displayName" : "LACTATING",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "LACTATING",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40456d82-2820-314a-889f-3293c586032b",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Compara por sa_sporsms, route_bit, animal_status, species_bit",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1864.0,
        "y" : 760.0
      },
      "properties" : {
        "sa_sporsms" : "${_SUBS_sa_sporsms:equals(${_PRODUCT_sa_sporsms})}",
        "species_bit" : "${_SUBS_species_bit:equals(${_PRODUCT_species_bit})}",
        "Routing Strategy" : "Route to Property name",
        "route_bit" : "${_SUBS_route_bit:equals(${_PRODUCT_route_bit})}",
        "status" : "${_SUBS_status:equals(${_PRODUCT_animal_status})}"
      },
      "propertyDescriptors" : {
        "sa_sporsms" : {
          "displayName" : "sa_sporsms",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "sa_sporsms",
          "sensitive" : false
        },
        "species_bit" : {
          "displayName" : "species_bit",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "species_bit",
          "sensitive" : false
        },
        "Routing Strategy" : {
          "displayName" : "Routing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Routing Strategy",
          "sensitive" : false
        },
        "route_bit" : {
          "displayName" : "route_bit",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "route_bit",
          "sensitive" : false
        },
        "status" : {
          "displayName" : "status",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "status",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "464bb2dc-5b00-3e58-a283-25cb31a2ee33",
      "maxBackoffPeriod" : "10 mins",
      "name" : "MergeContent by sa_sporsms",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1048.0,
        "y" : 1464.0
      },
      "properties" : {
        "Keep Path" : "false",
        "Merge Strategy" : "Bin-Packing Algorithm",
        "Attribute Strategy" : "Keep All Unique Attributes",
        "Compression Level" : "1",
        "Maximum Number of Entries" : "1000",
        "Minimum Group Size" : "0 B",
        "Maximum number of Bins" : "2",
        "Tar Modified Time" : "${file.lastModifiedTime}",
        "Delimiter Strategy" : "Text",
        "Merge Format" : "Binary Concatenation",
        "Footer File" : "]",
        "Demarcator File" : ",",
        "Correlation Attribute Name" : "sa_sporsms",
        "Header File" : "[",
        "mergecontent-metadata-strategy" : "Use First Metadata",
        "Minimum Number of Entries" : "2"
      },
      "propertyDescriptors" : {
        "Keep Path" : {
          "displayName" : "Keep Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Keep Path",
          "sensitive" : false
        },
        "Maximum Group Size" : {
          "displayName" : "Maximum Group Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Group Size",
          "sensitive" : false
        },
        "Merge Strategy" : {
          "displayName" : "Merge Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Merge Strategy",
          "sensitive" : false
        },
        "Attribute Strategy" : {
          "displayName" : "Attribute Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attribute Strategy",
          "sensitive" : false
        },
        "Compression Level" : {
          "displayName" : "Compression Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Compression Level",
          "sensitive" : false
        },
        "Maximum Number of Entries" : {
          "displayName" : "Maximum Number of Entries",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Number of Entries",
          "sensitive" : false
        },
        "Minimum Group Size" : {
          "displayName" : "Minimum Group Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum Group Size",
          "sensitive" : false
        },
        "Maximum number of Bins" : {
          "displayName" : "Maximum number of Bins",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum number of Bins",
          "sensitive" : false
        },
        "Tar Modified Time" : {
          "displayName" : "Tar Modified Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Tar Modified Time",
          "sensitive" : false
        },
        "Delimiter Strategy" : {
          "displayName" : "Delimiter Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delimiter Strategy",
          "sensitive" : false
        },
        "Merge Format" : {
          "displayName" : "Merge Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Merge Format",
          "sensitive" : false
        },
        "Footer File" : {
          "displayName" : "Footer",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Footer File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        },
        "Max Bin Age" : {
          "displayName" : "Max Bin Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Bin Age",
          "sensitive" : false
        },
        "Demarcator File" : {
          "displayName" : "Demarcator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Demarcator File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        },
        "Correlation Attribute Name" : {
          "displayName" : "Correlation Attribute Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Correlation Attribute Name",
          "sensitive" : false
        },
        "Header File" : {
          "displayName" : "Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Header File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        },
        "mergecontent-metadata-strategy" : {
          "displayName" : "Metadata Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "mergecontent-metadata-strategy",
          "sensitive" : false
        },
        "Minimum Number of Entries" : {
          "displayName" : "Minimum Number of Entries",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum Number of Entries",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.MergeContent",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "7931da38-e3fa-3743-b7d9-0158c98f8f98",
      "maxBackoffPeriod" : "10 mins",
      "name" : "MergeContent by sa_sporsms",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -536.0,
        "y" : 1448.0
      },
      "properties" : {
        "Keep Path" : "false",
        "Merge Strategy" : "Bin-Packing Algorithm",
        "Attribute Strategy" : "Keep All Unique Attributes",
        "Compression Level" : "1",
        "Maximum Number of Entries" : "1000",
        "Minimum Group Size" : "0 B",
        "Maximum number of Bins" : "2",
        "Tar Modified Time" : "${file.lastModifiedTime}",
        "Delimiter Strategy" : "Text",
        "Merge Format" : "Binary Concatenation",
        "Footer File" : "]",
        "Demarcator File" : ",",
        "Correlation Attribute Name" : "sa_sporsms",
        "Header File" : "[",
        "mergecontent-metadata-strategy" : "Use First Metadata",
        "Minimum Number of Entries" : "2"
      },
      "propertyDescriptors" : {
        "Keep Path" : {
          "displayName" : "Keep Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Keep Path",
          "sensitive" : false
        },
        "Maximum Group Size" : {
          "displayName" : "Maximum Group Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Group Size",
          "sensitive" : false
        },
        "Merge Strategy" : {
          "displayName" : "Merge Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Merge Strategy",
          "sensitive" : false
        },
        "Attribute Strategy" : {
          "displayName" : "Attribute Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attribute Strategy",
          "sensitive" : false
        },
        "Compression Level" : {
          "displayName" : "Compression Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Compression Level",
          "sensitive" : false
        },
        "Maximum Number of Entries" : {
          "displayName" : "Maximum Number of Entries",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Number of Entries",
          "sensitive" : false
        },
        "Minimum Group Size" : {
          "displayName" : "Minimum Group Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum Group Size",
          "sensitive" : false
        },
        "Maximum number of Bins" : {
          "displayName" : "Maximum number of Bins",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum number of Bins",
          "sensitive" : false
        },
        "Tar Modified Time" : {
          "displayName" : "Tar Modified Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Tar Modified Time",
          "sensitive" : false
        },
        "Delimiter Strategy" : {
          "displayName" : "Delimiter Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delimiter Strategy",
          "sensitive" : false
        },
        "Merge Format" : {
          "displayName" : "Merge Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Merge Format",
          "sensitive" : false
        },
        "Footer File" : {
          "displayName" : "Footer",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Footer File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        },
        "Max Bin Age" : {
          "displayName" : "Max Bin Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Bin Age",
          "sensitive" : false
        },
        "Demarcator File" : {
          "displayName" : "Demarcator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Demarcator File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        },
        "Correlation Attribute Name" : {
          "displayName" : "Correlation Attribute Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Correlation Attribute Name",
          "sensitive" : false
        },
        "Header File" : {
          "displayName" : "Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Header File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        },
        "mergecontent-metadata-strategy" : {
          "displayName" : "Metadata Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "mergecontent-metadata-strategy",
          "sensitive" : false
        },
        "Minimum Number of Entries" : {
          "displayName" : "Minimum Number of Entries",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum Number of Entries",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.MergeContent",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1592946c-f141-338e-b1b2-cc16e92ac3f8",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Merge_Medicamentos_Simples",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1216.0,
        "y" : 2456.0
      },
      "properties" : {
        "Keep Path" : "false",
        "Merge Strategy" : "Bin-Packing Algorithm",
        "Attribute Strategy" : "Keep Only Common Attributes",
        "Compression Level" : "1",
        "Maximum Number of Entries" : "2",
        "Minimum Group Size" : "0 B",
        "Maximum number of Bins" : "5",
        "Tar Modified Time" : "${file.lastModifiedTime}",
        "Delimiter Strategy" : "Text",
        "Merge Format" : "Binary Concatenation",
        "Footer File" : "]",
        "Demarcator File" : ",",
        "Correlation Attribute Name" : "sa_sporsms",
        "Header File" : "[",
        "mergecontent-metadata-strategy" : "Do Not Merge Uncommon Metadata",
        "Minimum Number of Entries" : "1"
      },
      "propertyDescriptors" : {
        "Keep Path" : {
          "displayName" : "Keep Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Keep Path",
          "sensitive" : false
        },
        "Maximum Group Size" : {
          "displayName" : "Maximum Group Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Group Size",
          "sensitive" : false
        },
        "Merge Strategy" : {
          "displayName" : "Merge Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Merge Strategy",
          "sensitive" : false
        },
        "Attribute Strategy" : {
          "displayName" : "Attribute Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attribute Strategy",
          "sensitive" : false
        },
        "Compression Level" : {
          "displayName" : "Compression Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Compression Level",
          "sensitive" : false
        },
        "Maximum Number of Entries" : {
          "displayName" : "Maximum Number of Entries",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Number of Entries",
          "sensitive" : false
        },
        "Minimum Group Size" : {
          "displayName" : "Minimum Group Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum Group Size",
          "sensitive" : false
        },
        "Maximum number of Bins" : {
          "displayName" : "Maximum number of Bins",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum number of Bins",
          "sensitive" : false
        },
        "Tar Modified Time" : {
          "displayName" : "Tar Modified Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Tar Modified Time",
          "sensitive" : false
        },
        "Delimiter Strategy" : {
          "displayName" : "Delimiter Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delimiter Strategy",
          "sensitive" : false
        },
        "Merge Format" : {
          "displayName" : "Merge Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Merge Format",
          "sensitive" : false
        },
        "Footer File" : {
          "displayName" : "Footer",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Footer File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        },
        "Max Bin Age" : {
          "displayName" : "Max Bin Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Bin Age",
          "sensitive" : false
        },
        "Demarcator File" : {
          "displayName" : "Demarcator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Demarcator File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        },
        "Correlation Attribute Name" : {
          "displayName" : "Correlation Attribute Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Correlation Attribute Name",
          "sensitive" : false
        },
        "Header File" : {
          "displayName" : "Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Header File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        },
        "mergecontent-metadata-strategy" : {
          "displayName" : "Metadata Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "mergecontent-metadata-strategy",
          "sensitive" : false
        },
        "Minimum Number of Entries" : {
          "displayName" : "Minimum Number of Entries",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum Number of Entries",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.MergeContent",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "8586105a-b30c-3177-bdc2-bce3df1b6e3c",
      "maxBackoffPeriod" : "10 mins",
      "name" : "num_subs > 1",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -680.0,
        "y" : 832.0
      },
      "properties" : {
        "Routing Strategy" : "Route to 'match' if any matches",
        "num_subs_arr" : "${_PRODUCT_num_subs:matches('^\\[.*\\]$')}"
      },
      "propertyDescriptors" : {
        "Routing Strategy" : {
          "displayName" : "Routing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Routing Strategy",
          "sensitive" : false
        },
        "num_subs_arr" : {
          "displayName" : "num_subs_arr",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "num_subs_arr",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "unmatched" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "14e041a6-868c-3b89-8f6a-7708a5715830",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Extrair atributos",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 40.0,
        "y" : 608.0
      },
      "properties" : {
        "Destination" : "flowfile-attribute",
        "animal_status" : "$.status",
        "_SUBS_species_bit" : "$.species_bit",
        "Max String Length" : "20 MB",
        "_SUBS_route_bit" : "$.route_bit",
        "_SUBS_combi" : "$.combi",
        "Return Type" : "json",
        "_SUBS_acting" : "$.acting",
        "_SUBS_sa_desc" : "$.sa_desc",
        "_SUBS_comp" : "$.comp",
        "Null Value Representation" : "empty string",
        "Path Not Found Behavior" : "ignore",
        "sa_sporsms" : "$.sa_sporsms",
        "filename" : "$.sa_sporsms",
        "_SUBS_sa_sporsms" : "$.sa_sporsms"
      },
      "propertyDescriptors" : {
        "Destination" : {
          "displayName" : "Destination",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "animal_status" : {
          "displayName" : "animal_status",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "animal_status",
          "sensitive" : false
        },
        "_SUBS_species_bit" : {
          "displayName" : "_SUBS_species_bit",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "_SUBS_species_bit",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "_SUBS_route_bit" : {
          "displayName" : "_SUBS_route_bit",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "_SUBS_route_bit",
          "sensitive" : false
        },
        "_SUBS_combi" : {
          "displayName" : "_SUBS_combi",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "_SUBS_combi",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "_SUBS_acting" : {
          "displayName" : "_SUBS_acting",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "_SUBS_acting",
          "sensitive" : false
        },
        "_SUBS_sa_desc" : {
          "displayName" : "_SUBS_sa_desc",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "_SUBS_sa_desc",
          "sensitive" : false
        },
        "_SUBS_comp" : {
          "displayName" : "_SUBS_comp",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "_SUBS_comp",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        },
        "sa_sporsms" : {
          "displayName" : "sa_sporsms",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "sa_sporsms",
          "sensitive" : false
        },
        "filename" : {
          "displayName" : "filename",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "filename",
          "sensitive" : false
        },
        "_SUBS_sa_sporsms" : {
          "displayName" : "_SUBS_sa_sporsms",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "_SUBS_sa_sporsms",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "unmatched" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d78fdc5f-6902-34d4-80ea-449e902bbdea",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Extrair atributos",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -680.0,
        "y" : 600.0
      },
      "properties" : {
        "Destination" : "flowfile-attribute",
        "_PRODUCT_sa_sporsms" : "$.sa_sporsms",
        "animal_status" : "$.animal_status",
        "Max String Length" : "20 MB",
        "_PRODUCT_species_bit" : "$.species_bit",
        "Return Type" : "json",
        "Null Value Representation" : "empty string",
        "_PRODUCT_acting" : "$.acting",
        "Path Not Found Behavior" : "ignore",
        "sa_sporsms" : "$.sa_sporsms",
        "filename" : "$.sa_sporsms",
        "_PRODUCT_route_bit" : "$.route_bit",
        "_PRODUCT_sa_desc" : "$.sa_desc",
        "_PRODUCT_num_subs" : "$.num_subs"
      },
      "propertyDescriptors" : {
        "Destination" : {
          "displayName" : "Destination",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "_PRODUCT_sa_sporsms" : {
          "displayName" : "_PRODUCT_sa_sporsms",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "_PRODUCT_sa_sporsms",
          "sensitive" : false
        },
        "animal_status" : {
          "displayName" : "animal_status",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "animal_status",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "_PRODUCT_species_bit" : {
          "displayName" : "_PRODUCT_species_bit",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "_PRODUCT_species_bit",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "_PRODUCT_acting" : {
          "displayName" : "_PRODUCT_acting",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "_PRODUCT_acting",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        },
        "sa_sporsms" : {
          "displayName" : "sa_sporsms",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "sa_sporsms",
          "sensitive" : false
        },
        "filename" : {
          "displayName" : "filename",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "filename",
          "sensitive" : false
        },
        "_PRODUCT_route_bit" : {
          "displayName" : "_PRODUCT_route_bit",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "_PRODUCT_route_bit",
          "sensitive" : false
        },
        "_PRODUCT_sa_desc" : {
          "displayName" : "_PRODUCT_sa_desc",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "_PRODUCT_sa_desc",
          "sensitive" : false
        },
        "_PRODUCT_num_subs" : {
          "displayName" : "_PRODUCT_num_subs",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "_PRODUCT_num_subs",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-jolt-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "7005e6e2-da81-333d-ab0e-73ebdc924ac8",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Agrupa por combinação",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 64.0,
        "y" : 56.0
      },
      "properties" : {
        "Jolt Transform" : "jolt-transform-chain",
        "Max String Length" : "20 MB",
        "Transform Cache Size" : "1",
        "Pretty Print" : "false",
        "Jolt Specification" : "[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": {\n        \"comp\": {\n          \"*\": { \n            \"@(3,[&2])\": \"&.[]\"\n          }\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": { \n        \"$\": \"&.comp\",\n        \"*\": { \n           \"id|species_bit|status|atcvet|sa_order|sa_sporsms|sa_desc|antimicro_class|route_add|route_bit|dddvet|dcdvet|unit|conv_factor|combi|acting|obs\": \"&2.&\"\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": \"[#1]\"\n    }\n  }\n]"
      },
      "propertyDescriptors" : {
        "Jolt Transform" : {
          "displayName" : "Jolt Transform",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Transform",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Transform Cache Size" : {
          "displayName" : "Transform Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Transform Cache Size",
          "sensitive" : false
        },
        "Custom Transformation Class Name" : {
          "displayName" : "Custom Transformation Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Transformation Class Name",
          "sensitive" : false
        },
        "Custom Module Directory" : {
          "displayName" : "Custom Module Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Module Directory",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "FILE", "DIRECTORY" ]
          },
          "sensitive" : false
        },
        "Pretty Print" : {
          "displayName" : "Pretty Print",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print",
          "sensitive" : false
        },
        "Jolt Specification" : {
          "displayName" : "Jolt Specification",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Specification",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.jolt.JoltTransformJSON",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f62a04aa-8898-3605-9ff0-81d4e8296be8",
      "maxBackoffPeriod" : "10 mins",
      "name" : "MergeContent by sa_sporsms",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1032.0,
        "y" : 1456.0
      },
      "properties" : {
        "Keep Path" : "false",
        "Merge Strategy" : "Bin-Packing Algorithm",
        "Attribute Strategy" : "Keep All Unique Attributes",
        "Compression Level" : "1",
        "Maximum Number of Entries" : "1000",
        "Minimum Group Size" : "0 B",
        "Maximum number of Bins" : "2",
        "Tar Modified Time" : "${file.lastModifiedTime}",
        "Delimiter Strategy" : "Text",
        "Merge Format" : "Binary Concatenation",
        "Footer File" : "]",
        "Demarcator File" : ",",
        "Correlation Attribute Name" : "sa_sporsms",
        "Header File" : "[",
        "mergecontent-metadata-strategy" : "Use First Metadata",
        "Minimum Number of Entries" : "2"
      },
      "propertyDescriptors" : {
        "Keep Path" : {
          "displayName" : "Keep Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Keep Path",
          "sensitive" : false
        },
        "Maximum Group Size" : {
          "displayName" : "Maximum Group Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Group Size",
          "sensitive" : false
        },
        "Merge Strategy" : {
          "displayName" : "Merge Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Merge Strategy",
          "sensitive" : false
        },
        "Attribute Strategy" : {
          "displayName" : "Attribute Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attribute Strategy",
          "sensitive" : false
        },
        "Compression Level" : {
          "displayName" : "Compression Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Compression Level",
          "sensitive" : false
        },
        "Maximum Number of Entries" : {
          "displayName" : "Maximum Number of Entries",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Number of Entries",
          "sensitive" : false
        },
        "Minimum Group Size" : {
          "displayName" : "Minimum Group Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum Group Size",
          "sensitive" : false
        },
        "Maximum number of Bins" : {
          "displayName" : "Maximum number of Bins",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum number of Bins",
          "sensitive" : false
        },
        "Tar Modified Time" : {
          "displayName" : "Tar Modified Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Tar Modified Time",
          "sensitive" : false
        },
        "Delimiter Strategy" : {
          "displayName" : "Delimiter Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delimiter Strategy",
          "sensitive" : false
        },
        "Merge Format" : {
          "displayName" : "Merge Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Merge Format",
          "sensitive" : false
        },
        "Footer File" : {
          "displayName" : "Footer",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Footer File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        },
        "Max Bin Age" : {
          "displayName" : "Max Bin Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Bin Age",
          "sensitive" : false
        },
        "Demarcator File" : {
          "displayName" : "Demarcator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Demarcator File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        },
        "Correlation Attribute Name" : {
          "displayName" : "Correlation Attribute Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Correlation Attribute Name",
          "sensitive" : false
        },
        "Header File" : {
          "displayName" : "Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Header File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        },
        "mergecontent-metadata-strategy" : {
          "displayName" : "Metadata Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "mergecontent-metadata-strategy",
          "sensitive" : false
        },
        "Minimum Number of Entries" : {
          "displayName" : "Minimum Number of Entries",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum Number of Entries",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.MergeContent",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "8b13e5aa-8fc5-36e4-99b5-4beabb605f09",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Combi = True",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 336.0,
        "y" : 1144.0
      },
      "properties" : {
        "Routing Strategy" : "Route to 'match' if any matches",
        "array_combi" : "${_SUBS_combi:toString():matches('\\\\[true(,true)*\\\\]')}",
        "combi" : "${_SUBS_combi:equals(true)}"
      },
      "propertyDescriptors" : {
        "Routing Strategy" : {
          "displayName" : "Routing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Routing Strategy",
          "sensitive" : false
        },
        "array_combi" : {
          "displayName" : "array_combi",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "array_combi",
          "sensitive" : false
        },
        "combi" : {
          "displayName" : "combi",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "combi",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-jolt-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a6841abb-af2a-3684-845c-a2bce6a26bd8",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Agrupa medicamentos",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -752.0,
        "y" : 48.0
      },
      "properties" : {
        "Jolt Transform" : "jolt-transform-chain",
        "Max String Length" : "20 MB",
        "Transform Cache Size" : "1",
        "Pretty Print" : "false",
        "Jolt Specification" : "[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": {\n        \"us_cum\": {\n          \"*\": { \n            \"@(3,[&2])\": \"&.[]\"\n          }\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": { \n        \"$\": \"&.us_cum\",\n        \"*\": { \n           \"id|cum|atc_code|aim_code|official_id|shortdesc|presentation|sb|pm|species|species_bit|uom_categ|uom_categ_id|measure_tot|measure_tot_un|sa_sporsms|sa_desc|sa_dose|sa_dose_un|measere_unit|measure_unit_un|sa_princ|route_bit|acting|animal_status|active|updated|tags|num_subs\": \"&2.&\"\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": \"[#1]\"\n    }\n  }\n]"
      },
      "propertyDescriptors" : {
        "Jolt Transform" : {
          "displayName" : "Jolt Transform",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Transform",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Transform Cache Size" : {
          "displayName" : "Transform Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Transform Cache Size",
          "sensitive" : false
        },
        "Custom Transformation Class Name" : {
          "displayName" : "Custom Transformation Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Transformation Class Name",
          "sensitive" : false
        },
        "Custom Module Directory" : {
          "displayName" : "Custom Module Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Module Directory",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "FILE", "DIRECTORY" ]
          },
          "sensitive" : false
        },
        "Pretty Print" : {
          "displayName" : "Pretty Print",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print",
          "sensitive" : false
        },
        "Jolt Specification" : {
          "displayName" : "Jolt Specification",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Specification",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.jolt.JoltTransformJSON",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3094cd53-f498-37e1-bdc3-fec343678e19",
      "maxBackoffPeriod" : "10 mins",
      "name" : "SplitJson",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -688.0,
        "y" : 336.0
      },
      "properties" : {
        "Max String Length" : "100 MB",
        "Null Value Representation" : "empty string",
        "JsonPath Expression" : "$.*"
      },
      "propertyDescriptors" : {
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "JsonPath Expression" : {
          "displayName" : "JsonPath Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JsonPath Expression",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.SplitJson",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2fe1943a-1f79-305f-abf8-12fab055ece2",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Combi = True",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 40.0,
        "y" : 840.0
      },
      "properties" : {
        "Routing Strategy" : "Route to 'match' if any matches",
        "combi" : "${_SUBS_combi:equals(true)}",
        "array_combi" : "${_SUBS_combi:toString():matches('\\\\[true(,true)*\\\\]')}"
      },
      "propertyDescriptors" : {
        "Routing Strategy" : {
          "displayName" : "Routing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Routing Strategy",
          "sensitive" : false
        },
        "combi" : {
          "displayName" : "combi",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "combi",
          "sensitive" : false
        },
        "array_combi" : {
          "displayName" : "array_combi",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "array_combi",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3d4b5d65-8770-34fe-a2b2-69b57924671e",
      "maxBackoffPeriod" : "10 mins",
      "name" : "vm_product_subs",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -776.0,
        "y" : -288.0
      },
      "properties" : {
        "esql-max-rows" : "0",
        "esqlrecord-record-writer" : "26c267fa-0529-30b6-8edb-2a7627bfbee9",
        "dbf-default-precision" : "10",
        "Max Wait Time" : "0 seconds",
        "Database Connection Pooling Service" : "82869c99-361d-3767-9f03-b7be5cc98a0b",
        "esql-auto-commit" : "true",
        "dbf-user-logical-types" : "false",
        "dbf-default-scale" : "0",
        "esql-output-batch-size" : "0",
        "esql-fetch-size" : "0",
        "SQL select query" : "SELECT \n    us_cum,\n    animal_status,\n    species_bit,\n    id,\n    cum,\n    atc_code,\n    aim_code,\n    official_id,\n    shortdesc,\n    presentation,\n    ab,\n    pm,\n    species,\n    uom_categ,\n    uom_categ_id,\n    measure_tot,\n    measure_tot_un,\n    sa_sporsms,\n    sa_desc,\n    sa_dose,\n    sa_dose_un,\n    measure_unit,\n    measure_unit_un,\n    sa_princ,  \n    route_bit,\n    acting,\n    active, \n    updated,\n    tags,\n    num_subs\nFROM \n    pemv.vm_product_subs\nWHERE\n\t(species_bit & '10000000000000000000000'::bit(23))::int <> 0  AND (route_bit & '0001000'::bit(7))::int <> 0\nORDER BY \n    num_subs DESC, \n    us_cum ASC, \n    animal_status ASC, \n    species_bit ASC",
        "esqlrecord-normalize" : "false"
      },
      "propertyDescriptors" : {
        "esql-max-rows" : {
          "displayName" : "Max Rows Per Flow File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "esql-max-rows",
          "sensitive" : false
        },
        "esqlrecord-record-writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "esqlrecord-record-writer",
          "sensitive" : false
        },
        "dbf-default-precision" : {
          "displayName" : "Default Decimal Precision",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-precision",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Connection Pooling Service" : {
          "displayName" : "Database Connection Pooling Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Database Connection Pooling Service",
          "sensitive" : false
        },
        "sql-post-query" : {
          "displayName" : "SQL Post-Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sql-post-query",
          "sensitive" : false
        },
        "esql-auto-commit" : {
          "displayName" : "Set Auto Commit",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "esql-auto-commit",
          "sensitive" : false
        },
        "dbf-user-logical-types" : {
          "displayName" : "Use Avro Logical Types",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-user-logical-types",
          "sensitive" : false
        },
        "dbf-default-scale" : {
          "displayName" : "Default Decimal Scale",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-scale",
          "sensitive" : false
        },
        "sql-pre-query" : {
          "displayName" : "SQL Pre-Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sql-pre-query",
          "sensitive" : false
        },
        "esql-output-batch-size" : {
          "displayName" : "Output Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "esql-output-batch-size",
          "sensitive" : false
        },
        "esql-fetch-size" : {
          "displayName" : "Fetch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "esql-fetch-size",
          "sensitive" : false
        },
        "SQL select query" : {
          "displayName" : "SQL select query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SQL select query",
          "sensitive" : false
        },
        "esqlrecord-normalize" : {
          "displayName" : "Normalize Table/Column Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "esqlrecord-normalize",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "10 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "34113e28-9bc4-39ff-9db6-fa42f2d16d9f",
      "maxBackoffPeriod" : "10 mins",
      "name" : "SplitJson",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 48.0,
        "y" : 344.0
      },
      "properties" : {
        "Max String Length" : "100 MB",
        "Null Value Representation" : "empty string",
        "JsonPath Expression" : "$.*"
      },
      "propertyDescriptors" : {
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "JsonPath Expression" : {
          "displayName" : "JsonPath Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JsonPath Expression",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.SplitJson",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2ea8702a-e278-3e88-98f5-fdd4e0c237d5",
      "maxBackoffPeriod" : "10 mins",
      "name" : "subs_ddd_dcd",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 104.0,
        "y" : -272.0
      },
      "properties" : {
        "esql-max-rows" : "0",
        "esqlrecord-record-writer" : "a71156c4-3f0d-39c8-9f2c-1e011b728529",
        "dbf-default-precision" : "10",
        "Max Wait Time" : "0 seconds",
        "Database Connection Pooling Service" : "82869c99-361d-3767-9f03-b7be5cc98a0b",
        "esql-auto-commit" : "true",
        "dbf-user-logical-types" : "false",
        "dbf-default-scale" : "0",
        "esql-output-batch-size" : "0",
        "esql-fetch-size" : "0",
        "SQL select query" : "select\n\tid,\n\tcomp,\n\tspecies_bit,\n\tstatus,\n\tatcvet,\n\tsa_order,\n\tsa_sporsms,\n\tsa_desc,\n\tantimicro_class,\n\troute_ddd,\n\troute_bit,\n\tdddvet,\n\tdcdvet,\n\tunit,\n\tconv_factor,\n\tcombi,\n\tacting,\n\tobs\nfrom\n\tpemv.subs_ddd_dcd\nWHERE\n\t(species_bit & '10000000000000000000000'::bit(23))::int <> 0  AND (route_bit & '0001000'::bit(7))::int <> 0\norder by\n\tcomp asc,\n\tid asc,\n\tstatus asc,\n\tspecies_bit asc,\n\troute_bit asc,\n\tacting asc",
        "esqlrecord-normalize" : "false"
      },
      "propertyDescriptors" : {
        "esql-max-rows" : {
          "displayName" : "Max Rows Per Flow File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "esql-max-rows",
          "sensitive" : false
        },
        "esqlrecord-record-writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "esqlrecord-record-writer",
          "sensitive" : false
        },
        "dbf-default-precision" : {
          "displayName" : "Default Decimal Precision",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-precision",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Connection Pooling Service" : {
          "displayName" : "Database Connection Pooling Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Database Connection Pooling Service",
          "sensitive" : false
        },
        "sql-post-query" : {
          "displayName" : "SQL Post-Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sql-post-query",
          "sensitive" : false
        },
        "esql-auto-commit" : {
          "displayName" : "Set Auto Commit",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "esql-auto-commit",
          "sensitive" : false
        },
        "dbf-user-logical-types" : {
          "displayName" : "Use Avro Logical Types",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-user-logical-types",
          "sensitive" : false
        },
        "dbf-default-scale" : {
          "displayName" : "Default Decimal Scale",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-scale",
          "sensitive" : false
        },
        "sql-pre-query" : {
          "displayName" : "SQL Pre-Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sql-pre-query",
          "sensitive" : false
        },
        "esql-output-batch-size" : {
          "displayName" : "Output Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "esql-output-batch-size",
          "sensitive" : false
        },
        "esql-fetch-size" : {
          "displayName" : "Fetch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "esql-fetch-size",
          "sensitive" : false
        },
        "SQL select query" : {
          "displayName" : "SQL select query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SQL select query",
          "sensitive" : false
        },
        "esqlrecord-normalize" : {
          "displayName" : "Normalize Table/Column Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "esqlrecord-normalize",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "10 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ce0be454-5ce4-3ac6-8df6-321182f06ff9",
      "maxBackoffPeriod" : "10 mins",
      "name" : "MergeContent by sa_sporsms",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -96.0,
        "y" : 1448.0
      },
      "properties" : {
        "Keep Path" : "false",
        "Merge Strategy" : "Bin-Packing Algorithm",
        "Attribute Strategy" : "Keep Only Common Attributes",
        "Compression Level" : "1",
        "Maximum Number of Entries" : "2",
        "Minimum Group Size" : "0 B",
        "Maximum number of Bins" : "100000",
        "Tar Modified Time" : "${file.lastModifiedTime}",
        "Delimiter Strategy" : "Text",
        "Merge Format" : "Binary Concatenation",
        "Footer File" : "]",
        "Demarcator File" : ",",
        "Correlation Attribute Name" : "sa_sporsms",
        "Header File" : "[",
        "mergecontent-metadata-strategy" : "Use First Metadata",
        "Minimum Number of Entries" : "1"
      },
      "propertyDescriptors" : {
        "Keep Path" : {
          "displayName" : "Keep Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Keep Path",
          "sensitive" : false
        },
        "Maximum Group Size" : {
          "displayName" : "Maximum Group Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Group Size",
          "sensitive" : false
        },
        "Merge Strategy" : {
          "displayName" : "Merge Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Merge Strategy",
          "sensitive" : false
        },
        "Attribute Strategy" : {
          "displayName" : "Attribute Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attribute Strategy",
          "sensitive" : false
        },
        "Compression Level" : {
          "displayName" : "Compression Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Compression Level",
          "sensitive" : false
        },
        "Maximum Number of Entries" : {
          "displayName" : "Maximum Number of Entries",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Number of Entries",
          "sensitive" : false
        },
        "Minimum Group Size" : {
          "displayName" : "Minimum Group Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum Group Size",
          "sensitive" : false
        },
        "Maximum number of Bins" : {
          "displayName" : "Maximum number of Bins",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum number of Bins",
          "sensitive" : false
        },
        "Tar Modified Time" : {
          "displayName" : "Tar Modified Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Tar Modified Time",
          "sensitive" : false
        },
        "Delimiter Strategy" : {
          "displayName" : "Delimiter Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delimiter Strategy",
          "sensitive" : false
        },
        "Merge Format" : {
          "displayName" : "Merge Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Merge Format",
          "sensitive" : false
        },
        "Footer File" : {
          "displayName" : "Footer",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Footer File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        },
        "Max Bin Age" : {
          "displayName" : "Max Bin Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Bin Age",
          "sensitive" : false
        },
        "Demarcator File" : {
          "displayName" : "Demarcator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Demarcator File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        },
        "Correlation Attribute Name" : {
          "displayName" : "Correlation Attribute Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Correlation Attribute Name",
          "sensitive" : false
        },
        "Header File" : {
          "displayName" : "Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Header File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        },
        "mergecontent-metadata-strategy" : {
          "displayName" : "Metadata Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "mergecontent-metadata-strategy",
          "sensitive" : false
        },
        "Minimum Number of Entries" : {
          "displayName" : "Minimum Number of Entries",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum Number of Entries",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.MergeContent",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "24961ded-fc1b-30d2-93a7-51e18cc73400",
      "maxBackoffPeriod" : "10 mins",
      "name" : "MergeRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1864.0,
        "y" : 992.0
      },
      "properties" : {
        "correlation-attribute-name" : "sa_sporsms",
        "Attribute Strategy" : "Keep All Unique Attributes",
        "min-records" : "2",
        "record-writer" : "055d650c-6599-346b-9194-f78aca7a405b",
        "merge-strategy" : "Bin-Packing Algorithm",
        "record-reader" : "b64ecb7e-25da-3d17-b641-5c2582c7a71a",
        "max-records" : "2",
        "min-bin-size" : "0 B",
        "max.bin.count" : "10"
      },
      "propertyDescriptors" : {
        "max-bin-age" : {
          "displayName" : "Max Bin Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-bin-age",
          "sensitive" : false
        },
        "correlation-attribute-name" : {
          "displayName" : "Correlation Attribute Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "correlation-attribute-name",
          "sensitive" : false
        },
        "Attribute Strategy" : {
          "displayName" : "Attribute Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attribute Strategy",
          "sensitive" : false
        },
        "min-records" : {
          "displayName" : "Minimum Number of Records",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "min-records",
          "sensitive" : false
        },
        "max-bin-size" : {
          "displayName" : "Maximum Bin Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-bin-size",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "merge-strategy" : {
          "displayName" : "Merge Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "merge-strategy",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        },
        "max-records" : {
          "displayName" : "Maximum Number of Records",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-records",
          "sensitive" : false
        },
        "min-bin-size" : {
          "displayName" : "Minimum Bin Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "min-bin-size",
          "sensitive" : false
        },
        "max.bin.count" : {
          "displayName" : "Maximum Number of Bins",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max.bin.count",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.MergeRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d285e5c6-ae32-3759-a01e-2b299bdcd292",
      "maxBackoffPeriod" : "10 mins",
      "name" : "MergeContent by sa_sporsms",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 360.0,
        "y" : 1456.0
      },
      "properties" : {
        "Keep Path" : "false",
        "Merge Strategy" : "Bin-Packing Algorithm",
        "Attribute Strategy" : "Keep All Unique Attributes",
        "Compression Level" : "1",
        "Maximum Number of Entries" : "2",
        "Minimum Group Size" : "0 B",
        "Maximum number of Bins" : "2",
        "Tar Modified Time" : "${file.lastModifiedTime}",
        "Delimiter Strategy" : "Text",
        "Merge Format" : "Binary Concatenation",
        "Footer File" : "]",
        "Demarcator File" : ",",
        "Correlation Attribute Name" : "sa_sporsms",
        "Header File" : "[",
        "mergecontent-metadata-strategy" : "Use First Metadata",
        "Minimum Number of Entries" : "1"
      },
      "propertyDescriptors" : {
        "Keep Path" : {
          "displayName" : "Keep Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Keep Path",
          "sensitive" : false
        },
        "Maximum Group Size" : {
          "displayName" : "Maximum Group Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Group Size",
          "sensitive" : false
        },
        "Merge Strategy" : {
          "displayName" : "Merge Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Merge Strategy",
          "sensitive" : false
        },
        "Attribute Strategy" : {
          "displayName" : "Attribute Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attribute Strategy",
          "sensitive" : false
        },
        "Compression Level" : {
          "displayName" : "Compression Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Compression Level",
          "sensitive" : false
        },
        "Maximum Number of Entries" : {
          "displayName" : "Maximum Number of Entries",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Number of Entries",
          "sensitive" : false
        },
        "Minimum Group Size" : {
          "displayName" : "Minimum Group Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum Group Size",
          "sensitive" : false
        },
        "Maximum number of Bins" : {
          "displayName" : "Maximum number of Bins",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum number of Bins",
          "sensitive" : false
        },
        "Tar Modified Time" : {
          "displayName" : "Tar Modified Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Tar Modified Time",
          "sensitive" : false
        },
        "Delimiter Strategy" : {
          "displayName" : "Delimiter Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delimiter Strategy",
          "sensitive" : false
        },
        "Merge Format" : {
          "displayName" : "Merge Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Merge Format",
          "sensitive" : false
        },
        "Footer File" : {
          "displayName" : "Footer",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Footer File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        },
        "Max Bin Age" : {
          "displayName" : "Max Bin Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Bin Age",
          "sensitive" : false
        },
        "Demarcator File" : {
          "displayName" : "Demarcator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Demarcator File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        },
        "Correlation Attribute Name" : {
          "displayName" : "Correlation Attribute Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Correlation Attribute Name",
          "sensitive" : false
        },
        "Header File" : {
          "displayName" : "Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Header File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        },
        "mergecontent-metadata-strategy" : {
          "displayName" : "Metadata Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "mergecontent-metadata-strategy",
          "sensitive" : false
        },
        "Minimum Number of Entries" : {
          "displayName" : "Minimum Number of Entries",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum Number of Entries",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.MergeContent",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "68f303b9-7844-3934-9bb1-1dd9774e4f5b",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Merge_Medicamentos",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -208.0,
        "y" : 2808.0
      },
      "properties" : {
        "Keep Path" : "false",
        "Merge Strategy" : "Bin-Packing Algorithm",
        "Attribute Strategy" : "Keep Only Common Attributes",
        "Compression Level" : "1",
        "Maximum Number of Entries" : "1000",
        "Minimum Group Size" : "0 B",
        "Maximum number of Bins" : "5",
        "Tar Modified Time" : "${file.lastModifiedTime}",
        "Delimiter Strategy" : "Text",
        "Merge Format" : "Binary Concatenation",
        "Footer File" : "]",
        "Demarcator File" : ",",
        "Header File" : "[",
        "mergecontent-metadata-strategy" : "Do Not Merge Uncommon Metadata",
        "Minimum Number of Entries" : "1"
      },
      "propertyDescriptors" : {
        "Keep Path" : {
          "displayName" : "Keep Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Keep Path",
          "sensitive" : false
        },
        "Maximum Group Size" : {
          "displayName" : "Maximum Group Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Group Size",
          "sensitive" : false
        },
        "Merge Strategy" : {
          "displayName" : "Merge Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Merge Strategy",
          "sensitive" : false
        },
        "Attribute Strategy" : {
          "displayName" : "Attribute Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attribute Strategy",
          "sensitive" : false
        },
        "Compression Level" : {
          "displayName" : "Compression Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Compression Level",
          "sensitive" : false
        },
        "Maximum Number of Entries" : {
          "displayName" : "Maximum Number of Entries",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Number of Entries",
          "sensitive" : false
        },
        "Minimum Group Size" : {
          "displayName" : "Minimum Group Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum Group Size",
          "sensitive" : false
        },
        "Maximum number of Bins" : {
          "displayName" : "Maximum number of Bins",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum number of Bins",
          "sensitive" : false
        },
        "Tar Modified Time" : {
          "displayName" : "Tar Modified Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Tar Modified Time",
          "sensitive" : false
        },
        "Delimiter Strategy" : {
          "displayName" : "Delimiter Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delimiter Strategy",
          "sensitive" : false
        },
        "Merge Format" : {
          "displayName" : "Merge Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Merge Format",
          "sensitive" : false
        },
        "Footer File" : {
          "displayName" : "Footer",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Footer File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        },
        "Max Bin Age" : {
          "displayName" : "Max Bin Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Bin Age",
          "sensitive" : false
        },
        "Demarcator File" : {
          "displayName" : "Demarcator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Demarcator File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        },
        "Correlation Attribute Name" : {
          "displayName" : "Correlation Attribute Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Correlation Attribute Name",
          "sensitive" : false
        },
        "Header File" : {
          "displayName" : "Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Header File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        },
        "mergecontent-metadata-strategy" : {
          "displayName" : "Metadata Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "mergecontent-metadata-strategy",
          "sensitive" : false
        },
        "Minimum Number of Entries" : {
          "displayName" : "Minimum Number of Entries",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum Number of Entries",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.MergeContent",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : {
    "DEV" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ ],
      "name" : "DEV",
      "parameters" : [ {
        "description" : "Nome do schema da base de dados",
        "name" : "schema_db_name",
        "provided" : false,
        "sensitive" : false,
        "value" : "nifi"
      }, {
        "description" : "Valor da tag que vai ser inserida no objeto do MinIO",
        "name" : "metadata_tag",
        "provided" : false,
        "sensitive" : false,
        "value" : "carbon_footprint_"
      }, {
        "description" : "Url da api do minIO em desenvolvimento",
        "name" : "MinIO_URL",
        "provided" : false,
        "sensitive" : false,
        "value" : "http://myminio:9000"
      }, {
        "description" : "Pasta para acessar dentro do bucket",
        "name" : "bucket_folder",
        "provided" : false,
        "sensitive" : false,
        "value" : "newdata"
      }, {
        "description" : "Nome da tabela da bd pra inserir dados do container",
        "name" : "db_name",
        "provided" : false,
        "sensitive" : false,
        "value" : "container"
      }, {
        "description" : "Nome do bucket do MinIO",
        "name" : "bucket_name",
        "provided" : false,
        "sensitive" : false,
        "value" : "shipdata"
      }, {
        "description" : "",
        "name" : "Prefix",
        "provided" : false,
        "sensitive" : false,
        "value" : "ships/BOREALIS"
      }, {
        "description" : "prefix de uma viagem do navio",
        "name" : "Object Tags Prefix",
        "provided" : false,
        "sensitive" : false,
        "value" : "ships/${shipName}/${year}/${month}/${day}/${num_processo}/"
      }, {
        "description" : "Valor da tag para pesquisar o valor de metadata_tag no objeto do MinIO",
        "name" : "searchByMetadata_tag",
        "provided" : false,
        "sensitive" : false,
        "value" : "carbon_footprint_20241204"
      } ]
    }
  },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "nifi",
    "flowIdentifier" : "DDDs",
    "timestamp" : 0
  }
}