default/dockernificontainer.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1734110151053,
    "description" : "",
    "identifier" : "dockernificontainer",
    "lastModifiedTimestamp" : 1734110151053,
    "name" : "docker_nifi_container",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "3e56b714-0796-3b2d-bcc8-f21bfafd999f",
        "id" : "023b66c5-05d0-3688-a16c-788548a7b850",
        "name" : "getFile",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "212ead97-3651-3cbc-8401-ac06662f8a51",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "8290b9ca-4ee4-37b7-bb68-de122481319d",
        "name" : "Entrada de dados 1",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "96973682-9c1b-3215-8e4b-f65f2f04a5bb",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ed2abb4a-901f-3438-9595-7d00fc91918a",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "3e56b714-0796-3b2d-bcc8-f21bfafd999f",
        "id" : "da7f7791-3f72-307d-a681-88a48b0fd6e2",
        "name" : "output",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "96973682-9c1b-3215-8e4b-f65f2f04a5bb",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "15897018-00de-302d-8d60-ff171dc8bded",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
        "id" : "c8ad6ac2-740e-3a7e-b1dc-496929ab0897",
        "name" : "output",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "28c5ca7a-02cf-3449-b338-603f13f3ab2d",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "54207ee3-89ed-3fb4-80bb-c38f41d01f51",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "96973682-9c1b-3215-8e4b-f65f2f04a5bb",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b79844b3-2f55-39a5-82a7-8efe582158b2",
      "name" : "CSVReader",
      "properties" : {
        "ignore-csv-header" : "false",
        "Trim double quote" : "true",
        "CSV Format" : "custom",
        "Quote Character" : "\"",
        "csvutils-allow-duplicate-header-names" : "true",
        "Value Separator" : ",",
        "Record Separator" : "\\n",
        "Escape Character" : "\\",
        "Skip Header Line" : "false",
        "Trim Fields" : "true",
        "schema-name" : "${schema.name}",
        "csv-reader-csv-parser" : "commons-csv",
        "schema-access-strategy" : "infer-schema",
        "csvutils-character-set" : "UTF-8",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "ignore-csv-header" : {
          "displayName" : "Ignore CSV Header Column Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "ignore-csv-header",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Trim double quote" : {
          "displayName" : "Trim double quote",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Trim double quote",
          "sensitive" : false
        },
        "CSV Format" : {
          "displayName" : "CSV Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "CSV Format",
          "sensitive" : false
        },
        "Quote Character" : {
          "displayName" : "Quote Character",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Quote Character",
          "sensitive" : false
        },
        "csvutils-allow-duplicate-header-names" : {
          "displayName" : "Allow Duplicate Header Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "csvutils-allow-duplicate-header-names",
          "sensitive" : false
        },
        "Value Separator" : {
          "displayName" : "Value Separator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Value Separator",
          "sensitive" : false
        },
        "Record Separator" : {
          "displayName" : "Record Separator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Record Separator",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Escape Character" : {
          "displayName" : "Escape Character",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Escape Character",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Null String" : {
          "displayName" : "Null String",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null String",
          "sensitive" : false
        },
        "Skip Header Line" : {
          "displayName" : "Treat First Line as Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Skip Header Line",
          "sensitive" : false
        },
        "Trim Fields" : {
          "displayName" : "Trim Fields",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Trim Fields",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "csv-reader-csv-parser" : {
          "displayName" : "CSV Parser",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "csv-reader-csv-parser",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "Comment Marker" : {
          "displayName" : "Comment Marker",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Comment Marker",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "csvutils-character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "csvutils-character-set",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.csv.CSVReader"
    } ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "96973682-9c1b-3215-8e4b-f65f2f04a5bb",
      "position" : {
        "x" : -200.0,
        "y" : -296.0
      }
    } ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 72.0,
      "identifier" : "973dcfb9-aa0c-3a43-9182-0a7731816679",
      "label" : "INGESTÃO DE DADOS PARA O MinIO",
      "position" : {
        "x" : -464.0,
        "y" : -1432.0
      },
      "style" : {
        "background-color" : "#fa6400",
        "font-size" : "22px"
      },
      "width" : 576.0,
      "zIndex" : 0
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 104.0,
      "identifier" : "8b7b65ed-1c96-38ae-9499-0166f29b9d55",
      "label" : "VAI BUSCAR OBJETO AO MinIO\nTRANSFORMA OS DADOS\nGUARDA NA BASE DE DADOS PostgreSQL",
      "position" : {
        "x" : -1072.0,
        "y" : -1032.0
      },
      "style" : {
        "background-color" : "#fa6400",
        "font-size" : "22px"
      },
      "width" : 520.0,
      "zIndex" : 0
    } ],
    "maxConcurrentTasks" : 1,
    "name" : "NiFi_Flow",
    "outputPorts" : [ ],
    "parameterContextName" : "DEV",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4a42dcb1-02f4-363d-9060-b461e5d84e36",
      "inputPorts" : [ ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "TesteGitHubVersioned",
      "outputPorts" : [ ],
      "parameterContextName" : "DEV",
      "position" : {
        "x" : -1824.0,
        "y" : -1352.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ "success" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "4a42dcb1-02f4-363d-9060-b461e5d84e36",
        "identifier" : "07bd808b-e96e-378f-aeeb-4f4a3251fd2d",
        "maxBackoffPeriod" : "10 mins",
        "name" : "GenerateFlowFile",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -392.99998076234556,
          "y" : -232.00002524098102
        },
        "properties" : {
          "character-set" : "UTF-8",
          "File Size" : "0B",
          "Batch Size" : "1",
          "Unique FlowFiles" : "false",
          "Data Format" : "Text"
        },
        "propertyDescriptors" : {
          "character-set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "File Size" : {
            "displayName" : "File Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "File Size",
            "sensitive" : false
          },
          "mime-type" : {
            "displayName" : "Mime Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "mime-type",
            "sensitive" : false
          },
          "generate-ff-custom-text" : {
            "displayName" : "Custom Text",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "generate-ff-custom-text",
            "sensitive" : false
          },
          "Batch Size" : {
            "displayName" : "Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Batch Size",
            "sensitive" : false
          },
          "Unique FlowFiles" : {
            "displayName" : "Unique FlowFiles",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Unique FlowFiles",
            "sensitive" : false
          },
          "Data Format" : {
            "displayName" : "Data Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Data Format",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "1 min",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    }, {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "3e56b714-0796-3b2d-bcc8-f21bfafd999f",
          "id" : "308a2cda-5ce3-3812-9b4c-3a8189dc8a51",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "3e56b714-0796-3b2d-bcc8-f21bfafd999f",
        "identifier" : "61beab7b-2388-39d5-8f89-093091f205fc",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "3e56b714-0796-3b2d-bcc8-f21bfafd999f",
          "id" : "0b2eb48a-49e4-3201-b44a-ba1572a98fce",
          "name" : "PutS3ObjectMinIO",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "3e56b714-0796-3b2d-bcc8-f21bfafd999f",
          "id" : "0b2eb48a-49e4-3201-b44a-ba1572a98fce",
          "name" : "PutS3ObjectMinIO",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "3e56b714-0796-3b2d-bcc8-f21bfafd999f",
        "identifier" : "800c75a5-6416-322c-a213-a065376689b2",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "groupId" : "3e56b714-0796-3b2d-bcc8-f21bfafd999f",
          "id" : "023b66c5-05d0-3688-a16c-788548a7b850",
          "name" : "getFile",
          "type" : "INPUT_PORT"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "3e56b714-0796-3b2d-bcc8-f21bfafd999f",
          "id" : "baf6540c-e285-3a28-b64a-a1ddf009cbf7",
          "name" : "TagS3Object",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "3e56b714-0796-3b2d-bcc8-f21bfafd999f",
        "identifier" : "dc7e0c7c-77d4-3bdd-96b2-b4f6e362a3dc",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "3e56b714-0796-3b2d-bcc8-f21bfafd999f",
          "id" : "0b2eb48a-49e4-3201-b44a-ba1572a98fce",
          "name" : "PutS3ObjectMinIO",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "3e56b714-0796-3b2d-bcc8-f21bfafd999f",
          "id" : "da7f7791-3f72-307d-a681-88a48b0fd6e2",
          "name" : "output",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "3e56b714-0796-3b2d-bcc8-f21bfafd999f",
        "identifier" : "ca97cad4-b2f7-3749-b4ab-6280f66a1a9d",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "3e56b714-0796-3b2d-bcc8-f21bfafd999f",
          "id" : "baf6540c-e285-3a28-b64a-a1ddf009cbf7",
          "name" : "TagS3Object",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      } ],
      "controllerServices" : [ {
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-aws-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "comments" : "",
        "componentType" : "CONTROLLER_SERVICE",
        "controllerServiceApis" : [ {
          "bundle" : {
            "artifact" : "nifi-aws-service-api-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0"
          },
          "type" : "org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService"
        }, {
          "bundle" : {
            "artifact" : "nifi-aws-service-api-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0"
          },
          "type" : "org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService"
        } ],
        "groupIdentifier" : "3e56b714-0796-3b2d-bcc8-f21bfafd999f",
        "identifier" : "06d4e75d-35b5-3e25-86e2-19cf605b5480",
        "name" : "AWSCredentialsProviderControllerService",
        "properties" : {
          "default-credentials" : "false",
          "Session Time" : "3600",
          "assume-role-sts-signer-override" : "Default Signature",
          "assume-role-sts-region" : "us-west-2",
          "anonymous-credentials" : "true"
        },
        "propertyDescriptors" : {
          "profile-name" : {
            "displayName" : "Profile Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "profile-name",
            "sensitive" : false
          },
          "Access Key" : {
            "displayName" : "Access Key ID",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Access Key",
            "sensitive" : true
          },
          "assume-role-proxy-configuration-service" : {
            "displayName" : "Assume Role Proxy Configuration Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "assume-role-proxy-configuration-service",
            "sensitive" : false
          },
          "default-credentials" : {
            "displayName" : "Use Default Credentials",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "default-credentials",
            "sensitive" : false
          },
          "Session Time" : {
            "displayName" : "Assume Role Session Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Session Time",
            "sensitive" : false
          },
          "assume-role-ssl-context-service" : {
            "displayName" : "Assume Role SSL Context Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "assume-role-ssl-context-service",
            "sensitive" : false
          },
          "assume-role-sts-signer-override" : {
            "displayName" : "Assume Role STS Signer Override",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "assume-role-sts-signer-override",
            "sensitive" : false
          },
          "custom-signer-class-name" : {
            "displayName" : "Custom Signer Class Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "custom-signer-class-name",
            "sensitive" : false
          },
          "Assume Role ARN" : {
            "displayName" : "Assume Role ARN",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Assume Role ARN",
            "sensitive" : false
          },
          "custom-signer-module-location" : {
            "displayName" : "Custom Signer Module Location",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "custom-signer-module-location",
            "resourceDefinition" : {
              "cardinality" : "MULTIPLE",
              "resourceTypes" : [ "DIRECTORY", "FILE" ]
            },
            "sensitive" : false
          },
          "Assume Role Session Name" : {
            "displayName" : "Assume Role Session Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Assume Role Session Name",
            "sensitive" : false
          },
          "assume-role-sts-endpoint" : {
            "displayName" : "Assume Role STS Endpoint Override",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "assume-role-sts-endpoint",
            "sensitive" : false
          },
          "assume-role-sts-region" : {
            "displayName" : "Assume Role STS Region",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "assume-role-sts-region",
            "sensitive" : false
          },
          "Secret Key" : {
            "displayName" : "Secret Access Key",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Secret Key",
            "sensitive" : true
          },
          "Credentials File" : {
            "displayName" : "Credentials File",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Credentials File",
            "resourceDefinition" : {
              "cardinality" : "SINGLE",
              "resourceTypes" : [ "FILE" ]
            },
            "sensitive" : false
          },
          "assume-role-external-id" : {
            "displayName" : "Assume Role External ID",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "assume-role-external-id",
            "sensitive" : false
          },
          "anonymous-credentials" : {
            "displayName" : "Use Anonymous Credentials",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "anonymous-credentials",
            "sensitive" : false
          }
        },
        "scheduledState" : "DISABLED",
        "type" : "org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService"
      }, {
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-aws-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "comments" : "",
        "componentType" : "CONTROLLER_SERVICE",
        "controllerServiceApis" : [ {
          "bundle" : {
            "artifact" : "nifi-aws-service-api-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0"
          },
          "type" : "org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService"
        }, {
          "bundle" : {
            "artifact" : "nifi-aws-service-api-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0"
          },
          "type" : "org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService"
        } ],
        "groupIdentifier" : "3e56b714-0796-3b2d-bcc8-f21bfafd999f",
        "identifier" : "02c67af4-ae44-3383-b4a7-9b295f069873",
        "name" : "AWSCredentialsProviderControllerService",
        "properties" : {
          "default-credentials" : "false",
          "Session Time" : "3600",
          "assume-role-sts-signer-override" : "Default Signature",
          "assume-role-sts-region" : "us-west-2",
          "anonymous-credentials" : "false"
        },
        "propertyDescriptors" : {
          "profile-name" : {
            "displayName" : "Profile Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "profile-name",
            "sensitive" : false
          },
          "Access Key" : {
            "displayName" : "Access Key ID",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Access Key",
            "sensitive" : true
          },
          "assume-role-proxy-configuration-service" : {
            "displayName" : "Assume Role Proxy Configuration Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "assume-role-proxy-configuration-service",
            "sensitive" : false
          },
          "default-credentials" : {
            "displayName" : "Use Default Credentials",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "default-credentials",
            "sensitive" : false
          },
          "Session Time" : {
            "displayName" : "Assume Role Session Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Session Time",
            "sensitive" : false
          },
          "assume-role-ssl-context-service" : {
            "displayName" : "Assume Role SSL Context Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "assume-role-ssl-context-service",
            "sensitive" : false
          },
          "assume-role-sts-signer-override" : {
            "displayName" : "Assume Role STS Signer Override",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "assume-role-sts-signer-override",
            "sensitive" : false
          },
          "custom-signer-class-name" : {
            "displayName" : "Custom Signer Class Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "custom-signer-class-name",
            "sensitive" : false
          },
          "Assume Role ARN" : {
            "displayName" : "Assume Role ARN",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Assume Role ARN",
            "sensitive" : false
          },
          "custom-signer-module-location" : {
            "displayName" : "Custom Signer Module Location",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "custom-signer-module-location",
            "resourceDefinition" : {
              "cardinality" : "MULTIPLE",
              "resourceTypes" : [ "DIRECTORY", "FILE" ]
            },
            "sensitive" : false
          },
          "Assume Role Session Name" : {
            "displayName" : "Assume Role Session Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Assume Role Session Name",
            "sensitive" : false
          },
          "assume-role-sts-endpoint" : {
            "displayName" : "Assume Role STS Endpoint Override",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "assume-role-sts-endpoint",
            "sensitive" : false
          },
          "assume-role-sts-region" : {
            "displayName" : "Assume Role STS Region",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "assume-role-sts-region",
            "sensitive" : false
          },
          "Secret Key" : {
            "displayName" : "Secret Access Key",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Secret Key",
            "sensitive" : true
          },
          "Credentials File" : {
            "displayName" : "Credentials File",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Credentials File",
            "resourceDefinition" : {
              "cardinality" : "SINGLE",
              "resourceTypes" : [ "FILE" ]
            },
            "sensitive" : false
          },
          "assume-role-external-id" : {
            "displayName" : "Assume Role External ID",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "assume-role-external-id",
            "sensitive" : false
          },
          "anonymous-credentials" : {
            "displayName" : "Use Anonymous Credentials",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "anonymous-credentials",
            "sensitive" : false
          }
        },
        "scheduledState" : "DISABLED",
        "type" : "org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService"
      } ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "3e56b714-0796-3b2d-bcc8-f21bfafd999f",
        "identifier" : "308a2cda-5ce3-3812-9b4c-3a8189dc8a51",
        "position" : {
          "x" : -1312.0,
          "y" : -528.0
        }
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3e56b714-0796-3b2d-bcc8-f21bfafd999f",
      "inputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "3e56b714-0796-3b2d-bcc8-f21bfafd999f",
        "identifier" : "023b66c5-05d0-3688-a16c-788548a7b850",
        "name" : "getFile",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -856.0,
          "y" : -960.0
        },
        "scheduledState" : "ENABLED",
        "type" : "INPUT_PORT"
      } ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "MinIO",
      "outputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "3e56b714-0796-3b2d-bcc8-f21bfafd999f",
        "identifier" : "da7f7791-3f72-307d-a681-88a48b0fd6e2",
        "name" : "output",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -848.0,
          "y" : 192.0
        },
        "scheduledState" : "ENABLED",
        "type" : "OUTPUT_PORT"
      } ],
      "parameterContextName" : "DEV",
      "position" : {
        "x" : -368.0,
        "y" : -864.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-aws-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "3e56b714-0796-3b2d-bcc8-f21bfafd999f",
        "identifier" : "baf6540c-e285-3a28-b64a-a1ddf009cbf7",
        "maxBackoffPeriod" : "10 mins",
        "name" : "TagS3Object",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -904.0,
          "y" : -144.0
        },
        "properties" : {
          "Endpoint Override URL" : "#{MinIO_URL}",
          "Object Key" : "${filename}",
          "append-tag" : "true",
          "AWS Credentials Provider service" : "02c67af4-ae44-3383-b4a7-9b295f069873",
          "tag-value" : "nova_tag",
          "Signer Override" : "AWSS3V4SignerType",
          "Bucket" : "#{bucket_name}",
          "tag-key" : "tag",
          "Communications Timeout" : "30 secs",
          "Region" : "eu-south-2"
        },
        "propertyDescriptors" : {
          "proxy-configuration-service" : {
            "displayName" : "Proxy Configuration Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "proxy-configuration-service",
            "sensitive" : false
          },
          "Endpoint Override URL" : {
            "displayName" : "Endpoint Override URL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Endpoint Override URL",
            "sensitive" : false
          },
          "version" : {
            "displayName" : "Version ID",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "version",
            "sensitive" : false
          },
          "custom-signer-class-name" : {
            "displayName" : "Custom Signer Class Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "custom-signer-class-name",
            "sensitive" : false
          },
          "Object Key" : {
            "displayName" : "Object Key",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Object Key",
            "sensitive" : false
          },
          "append-tag" : {
            "displayName" : "Append Tag",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "append-tag",
            "sensitive" : false
          },
          "AWS Credentials Provider service" : {
            "displayName" : "AWS Credentials Provider Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "AWS Credentials Provider service",
            "sensitive" : false
          },
          "custom-signer-module-location" : {
            "displayName" : "Custom Signer Module Location",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "custom-signer-module-location",
            "resourceDefinition" : {
              "cardinality" : "MULTIPLE",
              "resourceTypes" : [ "DIRECTORY", "FILE" ]
            },
            "sensitive" : false
          },
          "tag-value" : {
            "displayName" : "Tag Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "tag-value",
            "sensitive" : false
          },
          "SSL Context Service" : {
            "displayName" : "SSL Context Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "SSL Context Service",
            "sensitive" : false
          },
          "Signer Override" : {
            "displayName" : "Signer Override",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Signer Override",
            "sensitive" : false
          },
          "Bucket" : {
            "displayName" : "Bucket",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Bucket",
            "sensitive" : false
          },
          "tag-key" : {
            "displayName" : "Tag Key",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "tag-key",
            "sensitive" : false
          },
          "Communications Timeout" : {
            "displayName" : "Communications Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Communications Timeout",
            "sensitive" : false
          },
          "Region" : {
            "displayName" : "Region",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Region",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.aws.s3.TagS3Object",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-PutS3ObjectMinIO-nar",
          "group" : "com.mitmynid.nifi",
          "version" : "2.0.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "3e56b714-0796-3b2d-bcc8-f21bfafd999f",
        "identifier" : "0b2eb48a-49e4-3201-b44a-ba1572a98fce",
        "maxBackoffPeriod" : "10 mins",
        "name" : "PutS3ObjectMinIO",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -912.0,
          "y" : -576.0
        },
        "properties" : {
          "MinIO Endpoint" : "#{MinIO_URL}",
          "Metadata" : "autor:ruben,filename:${filename},mime.type:${mime.type},uuid:${uuid},date:${now():format(\"dd/MM/yyyy\")}",
          "Content Type" : "${mime.type}",
          "Region" : "us-east-1",
          "Bucket Name" : "#{bucket_name}",
          "Object Key" : "newdata/${now():format('yyyy/MM/dd')}/${uuid}"
        },
        "propertyDescriptors" : {
          "Access Key" : {
            "displayName" : "Access Key",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Access Key",
            "sensitive" : true
          },
          "MinIO Endpoint" : {
            "displayName" : "MinIO Endpoint",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "MinIO Endpoint",
            "sensitive" : false
          },
          "Metadata" : {
            "displayName" : "Metadata",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Metadata",
            "sensitive" : false
          },
          "Content Type" : {
            "displayName" : "Content Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Content Type",
            "sensitive" : false
          },
          "Secret Key" : {
            "displayName" : "Secret Key",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Secret Key",
            "sensitive" : true
          },
          "Region" : {
            "displayName" : "Region",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Region",
            "sensitive" : false
          },
          "Bucket Name" : {
            "displayName" : "Bucket Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Bucket Name",
            "sensitive" : false
          },
          "Object Key" : {
            "displayName" : "Object Key",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Object Key",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "com.mitmynid.nifi.processors.PutS3ObjectMinIO.PutS3ObjectMinIO",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    }, {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
          "id" : "f6f5a6d2-c831-36c1-a304-17ffeaeae39c",
          "name" : "GetS3ObjectMetadata",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
        "identifier" : "6c6ed1a4-12d6-303c-bb68-ce9a5c77d7aa",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
          "id" : "8cd7c93e-a34e-31bd-b514-2c426ab2a749",
          "name" : "ListS3",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
          "id" : "6e7c94b3-81ca-3047-a780-3bae57457274",
          "name" : "PutDatabaseRecord",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
        "identifier" : "298d28fc-d21a-3b96-a4f0-ac20e8472c0a",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
          "id" : "89924871-8503-30e0-ba76-80ef73f12933",
          "name" : "FetchS3Object",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
          "id" : "aac5ab13-f187-38e3-b88e-bda22373d41b",
          "name" : "Filtrar por tag & metadado",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
        "identifier" : "c1b96445-adcf-337a-b876-81c871dae458",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "found" ],
        "source" : {
          "comments" : "",
          "groupId" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
          "id" : "f6f5a6d2-c831-36c1-a304-17ffeaeae39c",
          "name" : "GetS3ObjectMetadata",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
          "id" : "89924871-8503-30e0-ba76-80ef73f12933",
          "name" : "FetchS3Object",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
        "identifier" : "27528499-3594-3829-a7a3-bf3501415282",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "matched" ],
        "source" : {
          "comments" : "",
          "groupId" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
          "id" : "aac5ab13-f187-38e3-b88e-bda22373d41b",
          "name" : "Filtrar por tag & metadado",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ {
          "x" : 329.4024658203125,
          "y" : 674.3746337890625
        }, {
          "x" : 278.4024658203125,
          "y" : 715.3746337890625
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
          "id" : "6e7c94b3-81ca-3047-a780-3bae57457274",
          "name" : "PutDatabaseRecord",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
        "identifier" : "d2fb4b28-08ff-33b8-a265-6a8f65ba2e21",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
          "id" : "6e7c94b3-81ca-3047-a780-3bae57457274",
          "name" : "PutDatabaseRecord",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ {
          "x" : 324.71305322647095,
          "y" : 206.89261627197266
        }, {
          "x" : 316.71305322647095,
          "y" : 286.89261627197266
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
          "id" : "89924871-8503-30e0-ba76-80ef73f12933",
          "name" : "FetchS3Object",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
        "identifier" : "c2829c71-1c0c-3a75-bf79-16ff054a2439",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
          "id" : "89924871-8503-30e0-ba76-80ef73f12933",
          "name" : "FetchS3Object",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
          "id" : "c8ad6ac2-740e-3a7e-b1dc-496929ab0897",
          "name" : "output",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
        "identifier" : "f85c963c-637c-3232-864c-df38ea7a1117",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
          "id" : "6e7c94b3-81ca-3047-a780-3bae57457274",
          "name" : "PutDatabaseRecord",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      } ],
      "controllerServices" : [ {
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-record-serialization-services-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "comments" : "",
        "componentType" : "CONTROLLER_SERVICE",
        "controllerServiceApis" : [ {
          "bundle" : {
            "artifact" : "nifi-standard-services-api-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0"
          },
          "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
        } ],
        "groupIdentifier" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
        "identifier" : "085e9366-cd3b-3877-9ea6-75f70830939c",
        "name" : "XMLRecordSetWriter",
        "properties" : {
          "omit_xml_declaration" : "false",
          "root_tag_name" : "shipment",
          "Date Format" : "dd/mm/yyyy",
          "suppress_nulls" : "never-suppress",
          "Schema Write Strategy" : "no-schema",
          "record_tag_name" : "shipment",
          "schema-name" : "${schema.name}",
          "array_wrapping" : "no-wrapping",
          "schema-access-strategy" : "inherit-record-schema",
          "pretty_print_xml" : "true",
          "schema-text" : "${avro.schema}",
          "Character Set" : "UTF-8"
        },
        "propertyDescriptors" : {
          "schema-reference-reader" : {
            "displayName" : "Schema Reference Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "schema-reference-reader",
            "sensitive" : false
          },
          "array_tag_name" : {
            "displayName" : "Array Tag Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "array_tag_name",
            "sensitive" : false
          },
          "schema-branch" : {
            "displayName" : "Schema Branch",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-branch",
            "sensitive" : false
          },
          "omit_xml_declaration" : {
            "displayName" : "Omit XML Declaration",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "omit_xml_declaration",
            "sensitive" : false
          },
          "root_tag_name" : {
            "displayName" : "Name of Root Tag",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "root_tag_name",
            "sensitive" : false
          },
          "schema-cache" : {
            "displayName" : "Schema Cache",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "schema-cache",
            "sensitive" : false
          },
          "Timestamp Format" : {
            "displayName" : "Timestamp Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Timestamp Format",
            "sensitive" : false
          },
          "Date Format" : {
            "displayName" : "Date Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Date Format",
            "sensitive" : false
          },
          "suppress_nulls" : {
            "displayName" : "Suppress Null Values",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "suppress_nulls",
            "sensitive" : false
          },
          "Schema Write Strategy" : {
            "displayName" : "Schema Write Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Write Strategy",
            "sensitive" : false
          },
          "record_tag_name" : {
            "displayName" : "Name of Record Tag",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "record_tag_name",
            "sensitive" : false
          },
          "schema-name" : {
            "displayName" : "Schema Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-name",
            "sensitive" : false
          },
          "schema-registry" : {
            "displayName" : "Schema Registry",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "schema-registry",
            "sensitive" : false
          },
          "Time Format" : {
            "displayName" : "Time Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Time Format",
            "sensitive" : false
          },
          "array_wrapping" : {
            "displayName" : "Wrap Elements of Arrays",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "array_wrapping",
            "sensitive" : false
          },
          "schema-access-strategy" : {
            "displayName" : "Schema Access Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-access-strategy",
            "sensitive" : false
          },
          "pretty_print_xml" : {
            "displayName" : "Pretty Print XML",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "pretty_print_xml",
            "sensitive" : false
          },
          "schema-version" : {
            "displayName" : "Schema Version",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-version",
            "sensitive" : false
          },
          "schema-text" : {
            "displayName" : "Schema Text",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-text",
            "sensitive" : false
          },
          "Character Set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Character Set",
            "sensitive" : false
          },
          "Schema Reference Writer" : {
            "displayName" : "Schema Reference Writer",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Schema Reference Writer",
            "sensitive" : false
          }
        },
        "scheduledState" : "DISABLED",
        "type" : "org.apache.nifi.xml.XMLRecordSetWriter"
      }, {
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-protobuf-services-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "comments" : "",
        "componentType" : "CONTROLLER_SERVICE",
        "controllerServiceApis" : [ {
          "bundle" : {
            "artifact" : "nifi-standard-services-api-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0"
          },
          "type" : "org.apache.nifi.serialization.RecordReaderFactory"
        } ],
        "groupIdentifier" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
        "identifier" : "ae74ef46-d459-38c1-bc64-8a98e47e43d1",
        "name" : "ProtobufReader",
        "properties" : {
          "schema-name" : "${schema.name}",
          "Proto Directory" : "/opt/protos",
          "schema-access-strategy" : "schema-text-property",
          "schema-text" : "{\n  \"type\": \"record\",\n  \"name\": \"Shipment\",\n  \"fields\": [\n    { \"name\": \"ship\", \"type\": \"string\" },\n    { \"name\": \"eta\", \"type\": \"string\" },\n    { \"name\": \"etd\", \"type\": \"string\" },\n    { \"name\": \"num_processo\", \"type\": \"string\" },\n    { \"name\": \"porto_origem\", \"type\": \"string\" },\n    { \"name\": \"porto_destino\", \"type\": \"string\" },\n    { \"name\": \"container\", \"type\": \"string\" }\n  ]\n}",
          "Message Type" : "Shipment"
        },
        "propertyDescriptors" : {
          "schema-reference-reader" : {
            "displayName" : "Schema Reference Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "schema-reference-reader",
            "sensitive" : false
          },
          "schema-branch" : {
            "displayName" : "Schema Branch",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-branch",
            "sensitive" : false
          },
          "schema-name" : {
            "displayName" : "Schema Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-name",
            "sensitive" : false
          },
          "schema-registry" : {
            "displayName" : "Schema Registry",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "schema-registry",
            "sensitive" : false
          },
          "Proto Directory" : {
            "displayName" : "Proto Directory",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Proto Directory",
            "sensitive" : false
          },
          "schema-access-strategy" : {
            "displayName" : "Schema Access Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-access-strategy",
            "sensitive" : false
          },
          "schema-version" : {
            "displayName" : "Schema Version",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-version",
            "sensitive" : false
          },
          "schema-text" : {
            "displayName" : "Schema Text",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-text",
            "sensitive" : false
          },
          "Message Type" : {
            "displayName" : "Message Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Message Type",
            "sensitive" : false
          }
        },
        "scheduledState" : "DISABLED",
        "type" : "org.apache.nifi.services.protobuf.ProtobufReader"
      }, {
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-aws-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "comments" : "",
        "componentType" : "CONTROLLER_SERVICE",
        "controllerServiceApis" : [ {
          "bundle" : {
            "artifact" : "nifi-aws-service-api-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0"
          },
          "type" : "org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService"
        }, {
          "bundle" : {
            "artifact" : "nifi-aws-service-api-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0"
          },
          "type" : "org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService"
        } ],
        "groupIdentifier" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
        "identifier" : "16d3f64d-301e-3663-8017-41abfe3751a8",
        "name" : "AWSCredentialsProviderControllerService",
        "properties" : {
          "default-credentials" : "false",
          "Session Time" : "3600",
          "assume-role-sts-signer-override" : "Default Signature",
          "assume-role-sts-region" : "us-west-2",
          "anonymous-credentials" : "false"
        },
        "propertyDescriptors" : {
          "profile-name" : {
            "displayName" : "Profile Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "profile-name",
            "sensitive" : false
          },
          "Access Key" : {
            "displayName" : "Access Key ID",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Access Key",
            "sensitive" : true
          },
          "assume-role-proxy-configuration-service" : {
            "displayName" : "Assume Role Proxy Configuration Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "assume-role-proxy-configuration-service",
            "sensitive" : false
          },
          "default-credentials" : {
            "displayName" : "Use Default Credentials",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "default-credentials",
            "sensitive" : false
          },
          "Session Time" : {
            "displayName" : "Assume Role Session Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Session Time",
            "sensitive" : false
          },
          "assume-role-ssl-context-service" : {
            "displayName" : "Assume Role SSL Context Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "assume-role-ssl-context-service",
            "sensitive" : false
          },
          "assume-role-sts-signer-override" : {
            "displayName" : "Assume Role STS Signer Override",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "assume-role-sts-signer-override",
            "sensitive" : false
          },
          "custom-signer-class-name" : {
            "displayName" : "Custom Signer Class Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "custom-signer-class-name",
            "sensitive" : false
          },
          "Assume Role ARN" : {
            "displayName" : "Assume Role ARN",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Assume Role ARN",
            "sensitive" : false
          },
          "custom-signer-module-location" : {
            "displayName" : "Custom Signer Module Location",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "custom-signer-module-location",
            "resourceDefinition" : {
              "cardinality" : "MULTIPLE",
              "resourceTypes" : [ "DIRECTORY", "FILE" ]
            },
            "sensitive" : false
          },
          "Assume Role Session Name" : {
            "displayName" : "Assume Role Session Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Assume Role Session Name",
            "sensitive" : false
          },
          "assume-role-sts-endpoint" : {
            "displayName" : "Assume Role STS Endpoint Override",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "assume-role-sts-endpoint",
            "sensitive" : false
          },
          "assume-role-sts-region" : {
            "displayName" : "Assume Role STS Region",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "assume-role-sts-region",
            "sensitive" : false
          },
          "Secret Key" : {
            "displayName" : "Secret Access Key",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Secret Key",
            "sensitive" : true
          },
          "Credentials File" : {
            "displayName" : "Credentials File",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Credentials File",
            "resourceDefinition" : {
              "cardinality" : "SINGLE",
              "resourceTypes" : [ "FILE" ]
            },
            "sensitive" : false
          },
          "assume-role-external-id" : {
            "displayName" : "Assume Role External ID",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "assume-role-external-id",
            "sensitive" : false
          },
          "anonymous-credentials" : {
            "displayName" : "Use Anonymous Credentials",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "anonymous-credentials",
            "sensitive" : false
          }
        },
        "scheduledState" : "DISABLED",
        "type" : "org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService"
      }, {
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-dbcp-service-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "comments" : "",
        "componentType" : "CONTROLLER_SERVICE",
        "controllerServiceApis" : [ {
          "bundle" : {
            "artifact" : "nifi-standard-services-api-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0"
          },
          "type" : "org.apache.nifi.dbcp.DBCPService"
        } ],
        "groupIdentifier" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
        "identifier" : "4b4bc865-804d-3502-8f23-cfe20e44f84e",
        "name" : "DBCPConnectionPool",
        "properties" : {
          "dbcp-min-idle-conns" : "0",
          "Max Wait Time" : "500 millis",
          "Database Driver Class Name" : "org.postgresql.Driver",
          "dbcp-min-evictable-idle-time" : "30 mins",
          "Max Total Connections" : "8",
          "dbcp-max-conn-lifetime" : "-1",
          "Database Connection URL" : "jdbc:postgresql://mypostgres:5432/postgres",
          "dbcp-time-between-eviction-runs" : "-1",
          "Database User" : "postgres",
          "dbcp-soft-min-evictable-idle-time" : "-1",
          "database-driver-locations" : "/opt/nifi/nifi-current/jdbc/postgresql-42.7.4.jar",
          "dbcp-max-idle-conns" : "8"
        },
        "propertyDescriptors" : {
          "dbcp-min-idle-conns" : {
            "displayName" : "Minimum Idle Connections",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbcp-min-idle-conns",
            "sensitive" : false
          },
          "Max Wait Time" : {
            "displayName" : "Max Wait Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Wait Time",
            "sensitive" : false
          },
          "Database Driver Class Name" : {
            "displayName" : "Database Driver Class Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Database Driver Class Name",
            "sensitive" : false
          },
          "dbcp-min-evictable-idle-time" : {
            "displayName" : "Minimum Evictable Idle Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbcp-min-evictable-idle-time",
            "sensitive" : false
          },
          "Max Total Connections" : {
            "displayName" : "Max Total Connections",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Total Connections",
            "sensitive" : false
          },
          "dbcp-max-conn-lifetime" : {
            "displayName" : "Max Connection Lifetime",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbcp-max-conn-lifetime",
            "sensitive" : false
          },
          "Validation-query" : {
            "displayName" : "Validation query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Validation-query",
            "sensitive" : false
          },
          "Database Connection URL" : {
            "displayName" : "Database Connection URL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Database Connection URL",
            "sensitive" : false
          },
          "dbcp-time-between-eviction-runs" : {
            "displayName" : "Time Between Eviction Runs",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbcp-time-between-eviction-runs",
            "sensitive" : false
          },
          "Database User" : {
            "displayName" : "Database User",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Database User",
            "sensitive" : false
          },
          "kerberos-user-service" : {
            "displayName" : "Kerberos User Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "kerberos-user-service",
            "sensitive" : false
          },
          "dbcp-soft-min-evictable-idle-time" : {
            "displayName" : "Soft Minimum Evictable Idle Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbcp-soft-min-evictable-idle-time",
            "sensitive" : false
          },
          "database-driver-locations" : {
            "displayName" : "Database Driver Location(s)",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "database-driver-locations",
            "resourceDefinition" : {
              "cardinality" : "MULTIPLE",
              "resourceTypes" : [ "DIRECTORY", "FILE", "URL" ]
            },
            "sensitive" : false
          },
          "dbcp-max-idle-conns" : {
            "displayName" : "Max Idle Connections",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbcp-max-idle-conns",
            "sensitive" : false
          },
          "Password" : {
            "displayName" : "Password",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Password",
            "sensitive" : true
          }
        },
        "scheduledState" : "DISABLED",
        "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
      }, {
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-record-serialization-services-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "comments" : "",
        "componentType" : "CONTROLLER_SERVICE",
        "controllerServiceApis" : [ {
          "bundle" : {
            "artifact" : "nifi-standard-services-api-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0"
          },
          "type" : "org.apache.nifi.serialization.RecordReaderFactory"
        } ],
        "groupIdentifier" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
        "identifier" : "20a8eb11-b873-3b69-b9a8-3d34e52cd551",
        "name" : "XMLReader",
        "properties" : {
          "Timestamp Format" : "dd/MM/yyyy",
          "Date Format" : "dd/MM/yyyy",
          "parse_xml_attributes" : "true",
          "record_format" : "true",
          "schema-name" : "${schema.name}",
          "schema-access-strategy" : "schema-text-property",
          "schema-text" : "{\n  \"type\": \"record\",\n  \"name\": \"ShipmentRecord\",\n  \"fields\": [\n    {\"name\": \"ship\", \"type\": \"string\"},\n    {\"name\": \"eta\", \"type\": { \"type\":\"int\", \"logicalType\":\"date\"}},\n    {\"name\": \"etd\", \"type\": { \"type\":\"int\", \"logicalType\":\"date\"}},\n    {\"name\": \"num_processo\", \"type\": \"string\"},\n    {\"name\": \"porto_origem\", \"type\": \"string\"},\n    {\"name\": \"porto_destino\", \"type\": \"string\"},\n    {\"name\": \"container\", \"type\": \"string\"}\n  ]\n}"
        },
        "propertyDescriptors" : {
          "schema-reference-reader" : {
            "displayName" : "Schema Reference Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "schema-reference-reader",
            "sensitive" : false
          },
          "content_field_name" : {
            "displayName" : "Field Name for Content",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "content_field_name",
            "sensitive" : false
          },
          "schema-branch" : {
            "displayName" : "Schema Branch",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-branch",
            "sensitive" : false
          },
          "Timestamp Format" : {
            "displayName" : "Timestamp Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Timestamp Format",
            "sensitive" : false
          },
          "schema-inference-cache" : {
            "displayName" : "Schema Inference Cache",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "schema-inference-cache",
            "sensitive" : false
          },
          "Date Format" : {
            "displayName" : "Date Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Date Format",
            "sensitive" : false
          },
          "parse_xml_attributes" : {
            "displayName" : "Parse XML Attributes",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "parse_xml_attributes",
            "sensitive" : false
          },
          "record_format" : {
            "displayName" : "Expect Records as Array",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "record_format",
            "sensitive" : false
          },
          "attribute_prefix" : {
            "displayName" : "Attribute Prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "attribute_prefix",
            "sensitive" : false
          },
          "schema-name" : {
            "displayName" : "Schema Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-name",
            "sensitive" : false
          },
          "schema-registry" : {
            "displayName" : "Schema Registry",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "schema-registry",
            "sensitive" : false
          },
          "Time Format" : {
            "displayName" : "Time Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Time Format",
            "sensitive" : false
          },
          "schema-access-strategy" : {
            "displayName" : "Schema Access Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-access-strategy",
            "sensitive" : false
          },
          "schema-version" : {
            "displayName" : "Schema Version",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-version",
            "sensitive" : false
          },
          "schema-text" : {
            "displayName" : "Schema Text",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-text",
            "sensitive" : false
          }
        },
        "scheduledState" : "DISABLED",
        "type" : "org.apache.nifi.xml.XMLReader"
      }, {
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-record-serialization-services-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "comments" : "",
        "componentType" : "CONTROLLER_SERVICE",
        "controllerServiceApis" : [ {
          "bundle" : {
            "artifact" : "nifi-standard-services-api-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0"
          },
          "type" : "org.apache.nifi.serialization.RecordReaderFactory"
        } ],
        "groupIdentifier" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
        "identifier" : "d8dde2f8-165a-34dc-8d0f-ee4782b94520",
        "name" : "CSVReader",
        "properties" : {
          "ignore-csv-header" : "false",
          "Trim double quote" : "true",
          "CSV Format" : "custom",
          "Quote Character" : "\"",
          "csvutils-allow-duplicate-header-names" : "true",
          "Value Separator" : ",",
          "Record Separator" : "\\n",
          "Escape Character" : "\\",
          "Skip Header Line" : "false",
          "Trim Fields" : "true",
          "schema-name" : "${schema.name}",
          "csv-reader-csv-parser" : "commons-csv",
          "schema-access-strategy" : "infer-schema",
          "csvutils-character-set" : "UTF-8",
          "schema-text" : "${avro.schema}"
        },
        "propertyDescriptors" : {
          "schema-reference-reader" : {
            "displayName" : "Schema Reference Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "schema-reference-reader",
            "sensitive" : false
          },
          "ignore-csv-header" : {
            "displayName" : "Ignore CSV Header Column Names",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "ignore-csv-header",
            "sensitive" : false
          },
          "schema-branch" : {
            "displayName" : "Schema Branch",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-branch",
            "sensitive" : false
          },
          "Trim double quote" : {
            "displayName" : "Trim double quote",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Trim double quote",
            "sensitive" : false
          },
          "CSV Format" : {
            "displayName" : "CSV Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "CSV Format",
            "sensitive" : false
          },
          "Quote Character" : {
            "displayName" : "Quote Character",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Quote Character",
            "sensitive" : false
          },
          "csvutils-allow-duplicate-header-names" : {
            "displayName" : "Allow Duplicate Header Names",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "csvutils-allow-duplicate-header-names",
            "sensitive" : false
          },
          "Value Separator" : {
            "displayName" : "Value Separator",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Value Separator",
            "sensitive" : false
          },
          "Record Separator" : {
            "displayName" : "Record Separator",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Record Separator",
            "sensitive" : false
          },
          "Timestamp Format" : {
            "displayName" : "Timestamp Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Timestamp Format",
            "sensitive" : false
          },
          "Escape Character" : {
            "displayName" : "Escape Character",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Escape Character",
            "sensitive" : false
          },
          "Date Format" : {
            "displayName" : "Date Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Date Format",
            "sensitive" : false
          },
          "Null String" : {
            "displayName" : "Null String",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Null String",
            "sensitive" : false
          },
          "Skip Header Line" : {
            "displayName" : "Treat First Line as Header",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Skip Header Line",
            "sensitive" : false
          },
          "Trim Fields" : {
            "displayName" : "Trim Fields",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Trim Fields",
            "sensitive" : false
          },
          "schema-name" : {
            "displayName" : "Schema Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-name",
            "sensitive" : false
          },
          "schema-registry" : {
            "displayName" : "Schema Registry",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "schema-registry",
            "sensitive" : false
          },
          "csv-reader-csv-parser" : {
            "displayName" : "CSV Parser",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "csv-reader-csv-parser",
            "sensitive" : false
          },
          "Time Format" : {
            "displayName" : "Time Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Time Format",
            "sensitive" : false
          },
          "Comment Marker" : {
            "displayName" : "Comment Marker",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Comment Marker",
            "sensitive" : false
          },
          "schema-access-strategy" : {
            "displayName" : "Schema Access Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-access-strategy",
            "sensitive" : false
          },
          "schema-version" : {
            "displayName" : "Schema Version",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-version",
            "sensitive" : false
          },
          "csvutils-character-set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "csvutils-character-set",
            "sensitive" : false
          },
          "schema-text" : {
            "displayName" : "Schema Text",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-text",
            "sensitive" : false
          }
        },
        "scheduledState" : "DISABLED",
        "type" : "org.apache.nifi.csv.CSVReader"
      } ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
      "inputPorts" : [ ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "MinIO -> PostgreSQl",
      "outputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
        "identifier" : "c8ad6ac2-740e-3a7e-b1dc-496929ab0897",
        "name" : "output",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -136.0,
          "y" : 960.0
        },
        "scheduledState" : "ENABLED",
        "type" : "OUTPUT_PORT"
      } ],
      "parameterContextName" : "DEV",
      "position" : {
        "x" : -1008.0,
        "y" : -880.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-aws-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
        "identifier" : "89924871-8503-30e0-ba76-80ef73f12933",
        "maxBackoffPeriod" : "10 mins",
        "name" : "FetchS3Object",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -192.0,
          "y" : 168.0
        },
        "properties" : {
          "Endpoint Override URL" : "#{MinIO_URL}",
          "requester-pays" : "false",
          "Object Key" : "${filename}",
          "AWS Credentials Provider service" : "16d3f64d-301e-3663-8017-41abfe3751a8",
          "Signer Override" : "AWSS3V4SignerType",
          "Bucket" : "${s3.bucket}",
          "Communications Timeout" : "30 secs",
          "Region" : "eu-south-2"
        },
        "propertyDescriptors" : {
          "range-length" : {
            "displayName" : "Range Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "range-length",
            "sensitive" : false
          },
          "range-start" : {
            "displayName" : "Range Start",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "range-start",
            "sensitive" : false
          },
          "proxy-configuration-service" : {
            "displayName" : "Proxy Configuration Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "proxy-configuration-service",
            "sensitive" : false
          },
          "Endpoint Override URL" : {
            "displayName" : "Endpoint Override URL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Endpoint Override URL",
            "sensitive" : false
          },
          "custom-signer-class-name" : {
            "displayName" : "Custom Signer Class Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "custom-signer-class-name",
            "sensitive" : false
          },
          "requester-pays" : {
            "displayName" : "Requester Pays",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "requester-pays",
            "sensitive" : false
          },
          "Object Key" : {
            "displayName" : "Object Key",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Object Key",
            "sensitive" : false
          },
          "AWS Credentials Provider service" : {
            "displayName" : "AWS Credentials Provider Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "AWS Credentials Provider service",
            "sensitive" : false
          },
          "custom-signer-module-location" : {
            "displayName" : "Custom Signer Module Location",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "custom-signer-module-location",
            "resourceDefinition" : {
              "cardinality" : "MULTIPLE",
              "resourceTypes" : [ "DIRECTORY", "FILE" ]
            },
            "sensitive" : false
          },
          "SSL Context Service" : {
            "displayName" : "SSL Context Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "SSL Context Service",
            "sensitive" : false
          },
          "Signer Override" : {
            "displayName" : "Signer Override",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Signer Override",
            "sensitive" : false
          },
          "Bucket" : {
            "displayName" : "Bucket",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Bucket",
            "sensitive" : false
          },
          "Version" : {
            "displayName" : "Version",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Version",
            "sensitive" : false
          },
          "Communications Timeout" : {
            "displayName" : "Communications Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Communications Timeout",
            "sensitive" : false
          },
          "Region" : {
            "displayName" : "Region",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Region",
            "sensitive" : false
          },
          "encryption-service" : {
            "displayName" : "Encryption Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "encryption-service",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.aws.s3.FetchS3Object",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-aws-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
        "identifier" : "06a241c7-bf43-33ac-86b0-303165ec6857",
        "maxBackoffPeriod" : "10 mins",
        "name" : "DeleteS3Object",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 600.0,
          "y" : -208.0
        },
        "properties" : {
          "FullControl User List" : "${s3.permissions.full.users}",
          "Owner" : "${s3.owner}",
          "Endpoint Override URL" : "http://myminio:9000",
          "Object Key" : "${filename}",
          "AWS Credentials Provider service" : "16d3f64d-301e-3663-8017-41abfe3751a8",
          "Signer Override" : "AWSS3V4SignerType",
          "Bucket" : "${s3.bucket}",
          "Write Permission User List" : "${s3.permissions.write.users}",
          "Communications Timeout" : "30 secs",
          "Region" : "eu-south-2",
          "Read Permission User List" : "${s3.permissions.read.users}",
          "Write ACL User List" : "${s3.permissions.writeacl.users}",
          "Read ACL User List" : "${s3.permissions.readacl.users}"
        },
        "propertyDescriptors" : {
          "FullControl User List" : {
            "displayName" : "FullControl User List",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "FullControl User List",
            "sensitive" : false
          },
          "Owner" : {
            "displayName" : "Owner",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Owner",
            "sensitive" : false
          },
          "proxy-configuration-service" : {
            "displayName" : "Proxy Configuration Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "proxy-configuration-service",
            "sensitive" : false
          },
          "Endpoint Override URL" : {
            "displayName" : "Endpoint Override URL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Endpoint Override URL",
            "sensitive" : false
          },
          "custom-signer-class-name" : {
            "displayName" : "Custom Signer Class Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "custom-signer-class-name",
            "sensitive" : false
          },
          "Object Key" : {
            "displayName" : "Object Key",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Object Key",
            "sensitive" : false
          },
          "AWS Credentials Provider service" : {
            "displayName" : "AWS Credentials Provider Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "AWS Credentials Provider service",
            "sensitive" : false
          },
          "custom-signer-module-location" : {
            "displayName" : "Custom Signer Module Location",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "custom-signer-module-location",
            "resourceDefinition" : {
              "cardinality" : "MULTIPLE",
              "resourceTypes" : [ "DIRECTORY", "FILE" ]
            },
            "sensitive" : false
          },
          "SSL Context Service" : {
            "displayName" : "SSL Context Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "SSL Context Service",
            "sensitive" : false
          },
          "Signer Override" : {
            "displayName" : "Signer Override",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Signer Override",
            "sensitive" : false
          },
          "Bucket" : {
            "displayName" : "Bucket",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Bucket",
            "sensitive" : false
          },
          "Version" : {
            "displayName" : "Version",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Version",
            "sensitive" : false
          },
          "Write Permission User List" : {
            "displayName" : "Write Permission User List",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Write Permission User List",
            "sensitive" : false
          },
          "Communications Timeout" : {
            "displayName" : "Communications Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Communications Timeout",
            "sensitive" : false
          },
          "Region" : {
            "displayName" : "Region",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Region",
            "sensitive" : false
          },
          "Read Permission User List" : {
            "displayName" : "Read Permission User List",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Read Permission User List",
            "sensitive" : false
          },
          "Write ACL User List" : {
            "displayName" : "Write ACL User List",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Write ACL User List",
            "sensitive" : false
          },
          "Read ACL User List" : {
            "displayName" : "Read ACL User List",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Read ACL User List",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.aws.s3.DeleteS3Object",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-aws-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
        "identifier" : "fc2c5353-8a89-34fe-bc7f-b956df64edfd",
        "maxBackoffPeriod" : "10 mins",
        "name" : "CopyS3Object",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 608.0,
          "y" : 16.0
        },
        "properties" : {
          "Source Key" : "${filename}",
          "FullControl User List" : "${s3.permissions.full.users}",
          "Owner" : "${s3.owner}",
          "Destination Key" : "${filename}-1",
          "Endpoint Override URL" : "http://myminio:9000",
          "canned-acl" : "${s3.permissions.cannedacl}",
          "AWS Credentials Provider service" : "16d3f64d-301e-3663-8017-41abfe3751a8",
          "Signer Override" : "AWSS3V4SignerType",
          "Write Permission User List" : "${s3.permissions.write.users}",
          "Communications Timeout" : "30 secs",
          "Region" : "us-west-2",
          "Read Permission User List" : "${s3.permissions.read.users}",
          "Write ACL User List" : "${s3.permissions.writeacl.users}",
          "Destination Bucket" : "rawdata",
          "Read ACL User List" : "${s3.permissions.readacl.users}",
          "Source Bucket" : "${s3.bucket}"
        },
        "propertyDescriptors" : {
          "Source Key" : {
            "displayName" : "Source Key",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Source Key",
            "sensitive" : false
          },
          "FullControl User List" : {
            "displayName" : "FullControl User List",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "FullControl User List",
            "sensitive" : false
          },
          "Owner" : {
            "displayName" : "Owner",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Owner",
            "sensitive" : false
          },
          "Destination Key" : {
            "displayName" : "Destination Key",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Destination Key",
            "sensitive" : false
          },
          "proxy-configuration-service" : {
            "displayName" : "Proxy Configuration Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "proxy-configuration-service",
            "sensitive" : false
          },
          "Endpoint Override URL" : {
            "displayName" : "Endpoint Override URL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Endpoint Override URL",
            "sensitive" : false
          },
          "custom-signer-class-name" : {
            "displayName" : "Custom Signer Class Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "custom-signer-class-name",
            "sensitive" : false
          },
          "canned-acl" : {
            "displayName" : "Canned ACL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "canned-acl",
            "sensitive" : false
          },
          "AWS Credentials Provider service" : {
            "displayName" : "AWS Credentials Provider Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "AWS Credentials Provider service",
            "sensitive" : false
          },
          "custom-signer-module-location" : {
            "displayName" : "Custom Signer Module Location",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "custom-signer-module-location",
            "resourceDefinition" : {
              "cardinality" : "MULTIPLE",
              "resourceTypes" : [ "DIRECTORY", "FILE" ]
            },
            "sensitive" : false
          },
          "SSL Context Service" : {
            "displayName" : "SSL Context Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "SSL Context Service",
            "sensitive" : false
          },
          "Signer Override" : {
            "displayName" : "Signer Override",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Signer Override",
            "sensitive" : false
          },
          "Write Permission User List" : {
            "displayName" : "Write Permission User List",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Write Permission User List",
            "sensitive" : false
          },
          "Communications Timeout" : {
            "displayName" : "Communications Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Communications Timeout",
            "sensitive" : false
          },
          "Region" : {
            "displayName" : "Region",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Region",
            "sensitive" : false
          },
          "Read Permission User List" : {
            "displayName" : "Read Permission User List",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Read Permission User List",
            "sensitive" : false
          },
          "Write ACL User List" : {
            "displayName" : "Write ACL User List",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Write ACL User List",
            "sensitive" : false
          },
          "Destination Bucket" : {
            "displayName" : "Destination Bucket",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Destination Bucket",
            "sensitive" : false
          },
          "Read ACL User List" : {
            "displayName" : "Read ACL User List",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Read ACL User List",
            "sensitive" : false
          },
          "Source Bucket" : {
            "displayName" : "Source Bucket",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Source Bucket",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.aws.s3.CopyS3Object",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-aws-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "PRIMARY",
        "groupIdentifier" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
        "identifier" : "8cd7c93e-a34e-31bd-b514-2c426ab2a749",
        "maxBackoffPeriod" : "10 mins",
        "name" : "ListS3",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -192.0,
          "y" : -928.0
        },
        "properties" : {
          "list-type" : "1",
          "et-initial-listing-target" : "all",
          "prefix" : "newdata/2024/12/18",
          "Endpoint Override URL" : "#{MinIO_URL}",
          "et-time-window" : "3 hours",
          "requester-pays" : "false",
          "listing-strategy" : "none",
          "Signer Override" : "AWSS3V4SignerType",
          "min-age" : "0 sec",
          "write-s3-user-metadata" : "false",
          "AWS Credentials Provider service" : "16d3f64d-301e-3663-8017-41abfe3751a8",
          "Listing Batch Size" : "100",
          "write-s3-object-tags" : "true",
          "Bucket" : "#{bucket_name}",
          "Communications Timeout" : "30 secs",
          "Region" : "eu-south-2",
          "et-state-cache" : "c1973aa5-5d81-12fb-0000-00003358db80",
          "use-versions" : "false"
        },
        "propertyDescriptors" : {
          "write-s3-user-metadata" : {
            "displayName" : "Write User Metadata",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "write-s3-user-metadata",
            "sensitive" : false
          },
          "list-type" : {
            "displayName" : "List Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "list-type",
            "sensitive" : false
          },
          "et-initial-listing-target" : {
            "displayName" : "Entity Tracking Initial Listing Target",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "et-initial-listing-target",
            "sensitive" : false
          },
          "prefix" : {
            "displayName" : "Prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "prefix",
            "sensitive" : false
          },
          "record-writer" : {
            "displayName" : "Record Writer",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "record-writer",
            "sensitive" : false
          },
          "proxy-configuration-service" : {
            "displayName" : "Proxy Configuration Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "proxy-configuration-service",
            "sensitive" : false
          },
          "max-age" : {
            "displayName" : "Maximum Object Age",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "max-age",
            "sensitive" : false
          },
          "Endpoint Override URL" : {
            "displayName" : "Endpoint Override URL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Endpoint Override URL",
            "sensitive" : false
          },
          "et-time-window" : {
            "displayName" : "Entity Tracking Time Window",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "et-time-window",
            "sensitive" : false
          },
          "custom-signer-class-name" : {
            "displayName" : "Custom Signer Class Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "custom-signer-class-name",
            "sensitive" : false
          },
          "requester-pays" : {
            "displayName" : "Requester Pays",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "requester-pays",
            "sensitive" : false
          },
          "AWS Credentials Provider service" : {
            "displayName" : "AWS Credentials Provider Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "AWS Credentials Provider service",
            "sensitive" : false
          },
          "custom-signer-module-location" : {
            "displayName" : "Custom Signer Module Location",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "custom-signer-module-location",
            "resourceDefinition" : {
              "cardinality" : "MULTIPLE",
              "resourceTypes" : [ "DIRECTORY", "FILE" ]
            },
            "sensitive" : false
          },
          "Listing Batch Size" : {
            "displayName" : "Listing Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Listing Batch Size",
            "sensitive" : false
          },
          "listing-strategy" : {
            "displayName" : "Listing Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "listing-strategy",
            "sensitive" : false
          },
          "SSL Context Service" : {
            "displayName" : "SSL Context Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "SSL Context Service",
            "sensitive" : false
          },
          "write-s3-object-tags" : {
            "displayName" : "Write Object Tags",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "write-s3-object-tags",
            "sensitive" : false
          },
          "Signer Override" : {
            "displayName" : "Signer Override",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Signer Override",
            "sensitive" : false
          },
          "Bucket" : {
            "displayName" : "Bucket",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Bucket",
            "sensitive" : false
          },
          "delimiter" : {
            "displayName" : "Delimiter",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "delimiter",
            "sensitive" : false
          },
          "Communications Timeout" : {
            "displayName" : "Communications Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Communications Timeout",
            "sensitive" : false
          },
          "Region" : {
            "displayName" : "Region",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Region",
            "sensitive" : false
          },
          "min-age" : {
            "displayName" : "Minimum Object Age",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "min-age",
            "sensitive" : false
          },
          "use-versions" : {
            "displayName" : "Use Versions",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "use-versions",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "1 min",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.aws.s3.ListS3",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "unmatched" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
        "identifier" : "aac5ab13-f187-38e3-b88e-bda22373d41b",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Filtrar por tag & metadado",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -192.0,
          "y" : -216.0
        },
        "properties" : {
          "Routing Strategy" : "Route to 'match' if any matches",
          "s3.autor" : "${s3.autor:equals(\"ruben\")}",
          "s3.tag.tag" : "${s3.tag.tag:equals(\"nova_tag\")}"
        },
        "propertyDescriptors" : {
          "Routing Strategy" : {
            "displayName" : "Routing Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Routing Strategy",
            "sensitive" : false
          },
          "s3.autor" : {
            "displayName" : "s3.autor",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "s3.autor",
            "sensitive" : false
          },
          "s3.tag.tag" : {
            "displayName" : "s3.tag.tag",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "s3.tag.tag",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure", "not found" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-aws-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
        "identifier" : "f6f5a6d2-c831-36c1-a304-17ffeaeae39c",
        "maxBackoffPeriod" : "10 mins",
        "name" : "GetS3ObjectMetadata",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -192.0,
          "y" : -600.0
        },
        "properties" : {
          "FullControl User List" : "${s3.permissions.full.users}",
          "Owner" : "${s3.owner}",
          "Endpoint Override URL" : "#{MinIO_URL}",
          "Object Key" : "${filename}",
          "AWS Credentials Provider service" : "16d3f64d-301e-3663-8017-41abfe3751a8",
          "Metadata Target" : "ATTRIBUTES",
          "Signer Override" : "AWSS3V4SignerType",
          "Bucket" : "#{bucket_name}",
          "Communications Timeout" : "30 secs",
          "Region" : "us-west-2",
          "Read Permission User List" : "${s3.permissions.read.users}",
          "Metadata Attribute Include Pattern" : ".*",
          "Read ACL User List" : "${s3.permissions.readacl.users}"
        },
        "propertyDescriptors" : {
          "FullControl User List" : {
            "displayName" : "FullControl User List",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "FullControl User List",
            "sensitive" : false
          },
          "Owner" : {
            "displayName" : "Owner",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Owner",
            "sensitive" : false
          },
          "proxy-configuration-service" : {
            "displayName" : "Proxy Configuration Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "proxy-configuration-service",
            "sensitive" : false
          },
          "Endpoint Override URL" : {
            "displayName" : "Endpoint Override URL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Endpoint Override URL",
            "sensitive" : false
          },
          "custom-signer-class-name" : {
            "displayName" : "Custom Signer Class Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "custom-signer-class-name",
            "sensitive" : false
          },
          "Object Key" : {
            "displayName" : "Object Key",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Object Key",
            "sensitive" : false
          },
          "AWS Credentials Provider service" : {
            "displayName" : "AWS Credentials Provider Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "AWS Credentials Provider service",
            "sensitive" : false
          },
          "custom-signer-module-location" : {
            "displayName" : "Custom Signer Module Location",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "custom-signer-module-location",
            "resourceDefinition" : {
              "cardinality" : "MULTIPLE",
              "resourceTypes" : [ "DIRECTORY", "FILE" ]
            },
            "sensitive" : false
          },
          "SSL Context Service" : {
            "displayName" : "SSL Context Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "SSL Context Service",
            "sensitive" : false
          },
          "Metadata Target" : {
            "displayName" : "Metadata Target",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Metadata Target",
            "sensitive" : false
          },
          "Signer Override" : {
            "displayName" : "Signer Override",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Signer Override",
            "sensitive" : false
          },
          "Bucket" : {
            "displayName" : "Bucket",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Bucket",
            "sensitive" : false
          },
          "Communications Timeout" : {
            "displayName" : "Communications Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Communications Timeout",
            "sensitive" : false
          },
          "Region" : {
            "displayName" : "Region",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Region",
            "sensitive" : false
          },
          "Read Permission User List" : {
            "displayName" : "Read Permission User List",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Read Permission User List",
            "sensitive" : false
          },
          "Metadata Attribute Include Pattern" : {
            "displayName" : "Metadata Attribute Include Pattern",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Metadata Attribute Include Pattern",
            "sensitive" : false
          },
          "Read ACL User List" : {
            "displayName" : "Read ACL User List",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Read ACL User List",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.aws.s3.GetS3ObjectMetadata",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "retry" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "d0ad8800-8e93-3b94-856f-97b2e5ea0583",
        "identifier" : "6e7c94b3-81ca-3047-a780-3bae57457274",
        "maxBackoffPeriod" : "10 mins",
        "name" : "PutDatabaseRecord",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -192.0,
          "y" : 624.0
        },
        "properties" : {
          "put-db-record-allow-multiple-statements" : "false",
          "table-schema-cache-size" : "100",
          "put-db-record-schema-name" : "#{schema_db_name}",
          "put-db-record-quoted-table-identifiers" : "false",
          "put-db-record-unmatched-column-behavior" : "Fail on Unmatched Columns",
          "put-db-record-translate-field-names" : "true",
          "put-db-record-dcbp-service" : "4b4bc865-804d-3502-8f23-cfe20e44f84e",
          "put-db-record-query-timeout" : "0 seconds",
          "rollback-on-failure" : "false",
          "put-db-record-statement-type" : "INSERT",
          "put-db-record-binary-format" : "UTF-8",
          "db-type" : "PostgreSQL",
          "put-db-record-quoted-identifiers" : "false",
          "put-db-record-table-name" : "container",
          "put-db-record-unmatched-field-behavior" : "Fail on Unmatched Fields",
          "put-db-record-max-batch-size" : "1000",
          "put-db-record-record-reader" : "20a8eb11-b873-3b69-b9a8-3d34e52cd551",
          "database-session-autocommit" : "false"
        },
        "propertyDescriptors" : {
          "put-db-record-allow-multiple-statements" : {
            "displayName" : "Allow Multiple SQL Statements",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-allow-multiple-statements",
            "sensitive" : false
          },
          "table-schema-cache-size" : {
            "displayName" : "Table Schema Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "table-schema-cache-size",
            "sensitive" : false
          },
          "put-db-record-schema-name" : {
            "displayName" : "Schema Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-schema-name",
            "sensitive" : false
          },
          "put-db-record-field-containing-sql" : {
            "displayName" : "Field Containing SQL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-field-containing-sql",
            "sensitive" : false
          },
          "put-db-record-quoted-table-identifiers" : {
            "displayName" : "Quote Table Identifiers",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-quoted-table-identifiers",
            "sensitive" : false
          },
          "Statement Type Record Path" : {
            "displayName" : "Statement Type Record Path",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Statement Type Record Path",
            "sensitive" : false
          },
          "put-db-record-unmatched-column-behavior" : {
            "displayName" : "Unmatched Column Behavior",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-unmatched-column-behavior",
            "sensitive" : false
          },
          "Delete Keys" : {
            "displayName" : "Delete Keys",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Delete Keys",
            "sensitive" : false
          },
          "put-db-record-catalog-name" : {
            "displayName" : "Catalog Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-catalog-name",
            "sensitive" : false
          },
          "put-db-record-translate-field-names" : {
            "displayName" : "Translate Field Names",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-translate-field-names",
            "sensitive" : false
          },
          "put-db-record-dcbp-service" : {
            "displayName" : "Database Connection Pooling Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "put-db-record-dcbp-service",
            "sensitive" : false
          },
          "put-db-record-query-timeout" : {
            "displayName" : "Max Wait Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-query-timeout",
            "sensitive" : false
          },
          "rollback-on-failure" : {
            "displayName" : "Rollback On Failure",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "rollback-on-failure",
            "sensitive" : false
          },
          "put-db-record-statement-type" : {
            "displayName" : "Statement Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-statement-type",
            "sensitive" : false
          },
          "put-db-record-binary-format" : {
            "displayName" : "Binary String Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-binary-format",
            "sensitive" : false
          },
          "db-type" : {
            "displayName" : "Database Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "db-type",
            "sensitive" : false
          },
          "put-db-record-update-keys" : {
            "displayName" : "Update Keys",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-update-keys",
            "sensitive" : false
          },
          "put-db-record-quoted-identifiers" : {
            "displayName" : "Quote Column Identifiers",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-quoted-identifiers",
            "sensitive" : false
          },
          "put-db-record-table-name" : {
            "displayName" : "Table Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-table-name",
            "sensitive" : false
          },
          "put-db-record-unmatched-field-behavior" : {
            "displayName" : "Unmatched Field Behavior",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-unmatched-field-behavior",
            "sensitive" : false
          },
          "put-db-record-max-batch-size" : {
            "displayName" : "Maximum Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-max-batch-size",
            "sensitive" : false
          },
          "put-db-record-record-reader" : {
            "displayName" : "Record Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "put-db-record-record-reader",
            "sensitive" : false
          },
          "Data Record Path" : {
            "displayName" : "Data Record Path",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Data Record Path",
            "sensitive" : false
          },
          "database-session-autocommit" : {
            "displayName" : "Database Session AutoCommit",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "database-session-autocommit",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "60 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.PutDatabaseRecord",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    }, {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "44b169b6-acc2-373d-bc56-30503bd18993",
      "inputPorts" : [ ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "Separar dados e inserir path",
      "outputPorts" : [ ],
      "parameterContextName" : "DEV",
      "position" : {
        "x" : -1832.0,
        "y" : -1664.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-update-attribute-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "44b169b6-acc2-373d-bc56-30503bd18993",
        "identifier" : "ea60845e-3c3b-325e-b6ca-04c3d0d458ce",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Create path",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -968.0,
          "y" : -1704.0
        },
        "properties" : {
          "path" : "${eta_year}/${eta_month}/${eta_day}/${num_processo}",
          "Store State" : "Do not store state",
          "canonical-value-lookup-cache-size" : "100"
        },
        "propertyDescriptors" : {
          "path" : {
            "displayName" : "path",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "path",
            "sensitive" : false
          },
          "Delete Attributes Expression" : {
            "displayName" : "Delete Attributes Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Delete Attributes Expression",
            "sensitive" : false
          },
          "Store State" : {
            "displayName" : "Store State",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Store State",
            "sensitive" : false
          },
          "canonical-value-lookup-cache-size" : {
            "displayName" : "Cache Value Lookup Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "canonical-value-lookup-cache-size",
            "sensitive" : false
          },
          "Stateful Variables Initial Value" : {
            "displayName" : "Stateful Variables Initial Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Stateful Variables Initial Value",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "original", "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "44b169b6-acc2-373d-bc56-30503bd18993",
        "identifier" : "9d5adadc-647f-315a-a898-617a06e3ab95",
        "maxBackoffPeriod" : "10 mins",
        "name" : "SplitXml",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -984.0,
          "y" : -2376.0
        },
        "properties" : {
          "Split Depth" : "1"
        },
        "propertyDescriptors" : {
          "Split Depth" : {
            "displayName" : "Split Depth",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Split Depth",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.SplitXml",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure", "unmatched" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "44b169b6-acc2-373d-bc56-30503bd18993",
        "identifier" : "60376bed-01fc-3dea-8bd4-6a45b0168f43",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Extract eta & num_processo",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -1000.0,
          "y" : -2152.0
        },
        "properties" : {
          "Destination" : "flowfile-attribute",
          "num_processo" : "//num_processo",
          "eta" : "//eta",
          "Return Type" : "auto-detect",
          "Validate DTD" : "false"
        },
        "propertyDescriptors" : {
          "Destination" : {
            "displayName" : "Destination",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Destination",
            "sensitive" : false
          },
          "num_processo" : {
            "displayName" : "num_processo",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "num_processo",
            "sensitive" : false
          },
          "eta" : {
            "displayName" : "eta",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "eta",
            "sensitive" : false
          },
          "Return Type" : {
            "displayName" : "Return Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Return Type",
            "sensitive" : false
          },
          "Validate DTD" : {
            "displayName" : "Allow DTD",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Validate DTD",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.EvaluateXPath",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-update-attribute-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "44b169b6-acc2-373d-bc56-30503bd18993",
        "identifier" : "6ccf3cc1-e5ec-3d0f-a17f-5cd5b1973c84",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Adicionar tag no flowFile",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -1008.0,
          "y" : -1240.0
        },
        "properties" : {
          "s3.metadata.file-type" : "xml",
          "metadata" : "#{metadata_tag}${now():format('yyyyMMdd')}",
          "filename" : "${filename}.xml",
          "Store State" : "Do not store state",
          "canonical-value-lookup-cache-size" : "100",
          "s3.metadata.author" : "ruben",
          "s3.metadata.upload-date" : "now()",
          "s3.metadata.category" : "teste"
        },
        "propertyDescriptors" : {
          "s3.metadata.file-type" : {
            "displayName" : "s3.metadata.file-type",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "s3.metadata.file-type",
            "sensitive" : false
          },
          "metadata" : {
            "displayName" : "metadata",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "metadata",
            "sensitive" : false
          },
          "Delete Attributes Expression" : {
            "displayName" : "Delete Attributes Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Delete Attributes Expression",
            "sensitive" : false
          },
          "filename" : {
            "displayName" : "filename",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "filename",
            "sensitive" : false
          },
          "Store State" : {
            "displayName" : "Store State",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Store State",
            "sensitive" : false
          },
          "canonical-value-lookup-cache-size" : {
            "displayName" : "Cache Value Lookup Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "canonical-value-lookup-cache-size",
            "sensitive" : false
          },
          "s3.metadata.author" : {
            "displayName" : "s3.metadata.author",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "s3.metadata.author",
            "sensitive" : false
          },
          "s3.metadata.upload-date" : {
            "displayName" : "s3.metadata.upload-date",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "s3.metadata.upload-date",
            "sensitive" : false
          },
          "Stateful Variables Initial Value" : {
            "displayName" : "Stateful Variables Initial Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Stateful Variables Initial Value",
            "sensitive" : false
          },
          "s3.metadata.category" : {
            "displayName" : "s3.metadata.category",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "s3.metadata.category",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "original", "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "44b169b6-acc2-373d-bc56-30503bd18993",
        "identifier" : "4896db11-7327-3aa1-805b-8fd0fb17a26c",
        "maxBackoffPeriod" : "10 mins",
        "name" : "MergeContent",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -968.0,
          "y" : -1472.0
        },
        "properties" : {
          "Keep Path" : "false",
          "Merge Strategy" : "Bin-Packing Algorithm",
          "Attribute Strategy" : "Keep Only Common Attributes",
          "Compression Level" : "1",
          "Maximum Number of Entries" : "1000",
          "Minimum Group Size" : "0 B",
          "Maximum number of Bins" : "5",
          "Tar Modified Time" : "${file.lastModifiedTime}",
          "Delimiter Strategy" : "Do Not Use Delimiters",
          "Merge Format" : "Binary Concatenation",
          "mergecontent-metadata-strategy" : "Do Not Merge Uncommon Metadata",
          "Minimum Number of Entries" : "1"
        },
        "propertyDescriptors" : {
          "Keep Path" : {
            "displayName" : "Keep Path",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Keep Path",
            "sensitive" : false
          },
          "Maximum Group Size" : {
            "displayName" : "Maximum Group Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Group Size",
            "sensitive" : false
          },
          "Merge Strategy" : {
            "displayName" : "Merge Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Merge Strategy",
            "sensitive" : false
          },
          "Attribute Strategy" : {
            "displayName" : "Attribute Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Attribute Strategy",
            "sensitive" : false
          },
          "Compression Level" : {
            "displayName" : "Compression Level",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Compression Level",
            "sensitive" : false
          },
          "Maximum Number of Entries" : {
            "displayName" : "Maximum Number of Entries",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Number of Entries",
            "sensitive" : false
          },
          "Minimum Group Size" : {
            "displayName" : "Minimum Group Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Minimum Group Size",
            "sensitive" : false
          },
          "Maximum number of Bins" : {
            "displayName" : "Maximum number of Bins",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum number of Bins",
            "sensitive" : false
          },
          "Tar Modified Time" : {
            "displayName" : "Tar Modified Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Tar Modified Time",
            "sensitive" : false
          },
          "Delimiter Strategy" : {
            "displayName" : "Delimiter Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Delimiter Strategy",
            "sensitive" : false
          },
          "Merge Format" : {
            "displayName" : "Merge Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Merge Format",
            "sensitive" : false
          },
          "Footer File" : {
            "displayName" : "Footer",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Footer File",
            "resourceDefinition" : {
              "cardinality" : "SINGLE",
              "resourceTypes" : [ "TEXT", "FILE" ]
            },
            "sensitive" : false
          },
          "Max Bin Age" : {
            "displayName" : "Max Bin Age",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Bin Age",
            "sensitive" : false
          },
          "Demarcator File" : {
            "displayName" : "Demarcator",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Demarcator File",
            "resourceDefinition" : {
              "cardinality" : "SINGLE",
              "resourceTypes" : [ "TEXT", "FILE" ]
            },
            "sensitive" : false
          },
          "Correlation Attribute Name" : {
            "displayName" : "Correlation Attribute Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Correlation Attribute Name",
            "sensitive" : false
          },
          "Header File" : {
            "displayName" : "Header",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Header File",
            "resourceDefinition" : {
              "cardinality" : "SINGLE",
              "resourceTypes" : [ "TEXT", "FILE" ]
            },
            "sensitive" : false
          },
          "mergecontent-metadata-strategy" : {
            "displayName" : "Metadata Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "mergecontent-metadata-strategy",
            "sensitive" : false
          },
          "Minimum Number of Entries" : {
            "displayName" : "Minimum Number of Entries",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Minimum Number of Entries",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.MergeContent",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-update-attribute-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "44b169b6-acc2-373d-bc56-30503bd18993",
        "identifier" : "38701eaf-d1b2-37a8-9398-7d45cdbb666b",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Extract year,month,day",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -976.0,
          "y" : -1904.0
        },
        "properties" : {
          "eta_day" : "${now():toDate(\"dd/MM/yyyy\"):format(\"dd\")}",
          "Store State" : "Do not store state",
          "canonical-value-lookup-cache-size" : "100",
          "eta_month" : "${now():toDate(\"dd/MM/yyyy\"):format(\"MM\")}",
          "eta_year" : "${now():toDate(\"dd/MM/yyyy\"):format(\"yyyy\")}"
        },
        "propertyDescriptors" : {
          "Delete Attributes Expression" : {
            "displayName" : "Delete Attributes Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Delete Attributes Expression",
            "sensitive" : false
          },
          "eta_day" : {
            "displayName" : "eta_day",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "eta_day",
            "sensitive" : false
          },
          "Store State" : {
            "displayName" : "Store State",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Store State",
            "sensitive" : false
          },
          "canonical-value-lookup-cache-size" : {
            "displayName" : "Cache Value Lookup Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "canonical-value-lookup-cache-size",
            "sensitive" : false
          },
          "eta_month" : {
            "displayName" : "eta_month",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "eta_month",
            "sensitive" : false
          },
          "eta_year" : {
            "displayName" : "eta_year",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "eta_year",
            "sensitive" : false
          },
          "Stateful Variables Initial Value" : {
            "displayName" : "Stateful Variables Initial Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Stateful Variables Initial Value",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    } ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "28c5ca7a-02cf-3449-b338-603f13f3ab2d",
      "maxBackoffPeriod" : "10 mins",
      "name" : "LogAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -352.0,
        "y" : -48.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "Log FlowFile Properties" : "true",
        "Log Level" : "info",
        "attributes-to-log-regex" : ".*",
        "Output Format" : "Line per Attribute",
        "Log Payload" : "false"
      },
      "propertyDescriptors" : {
        "Log prefix" : {
          "displayName" : "Log prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log prefix",
          "sensitive" : false
        },
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "Log FlowFile Properties" : {
          "displayName" : "Log FlowFile Properties",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log FlowFile Properties",
          "sensitive" : false
        },
        "Log Level" : {
          "displayName" : "Log Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Level",
          "sensitive" : false
        },
        "attributes-to-ignore-regex" : {
          "displayName" : "Attributes to Ignore by Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attributes-to-ignore-regex",
          "sensitive" : false
        },
        "Attributes to Ignore" : {
          "displayName" : "Attributes to Ignore",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Ignore",
          "sensitive" : false
        },
        "Attributes to Log" : {
          "displayName" : "Attributes to Log",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Log",
          "sensitive" : false
        },
        "attributes-to-log-regex" : {
          "displayName" : "Attributes to Log by Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attributes-to-log-regex",
          "sensitive" : false
        },
        "Output Format" : {
          "displayName" : "Output Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Format",
          "sensitive" : false
        },
        "Log Payload" : {
          "displayName" : "Log Payload",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Payload",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.LogAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "8290b9ca-4ee4-37b7-bb68-de122481319d",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Entrada de dados 1",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -352.0,
        "y" : -1272.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "File Size" : "0B",
        "mime-type" : "text/xml",
        "generate-ff-custom-text" : "<shipments>\n    <shipment>\n        <ship>ysaline</ship>\n        <eta>02/12/2024</eta>\n        <etd>02/12/2024</etd>\n        <num_processo>ESC20240230Q</num_processo>\n        <porto_origem>Terminal Multiusos de Leixões (Molhe Sul)</porto_origem>\n        <porto_destino>Vigo</porto_destino>\n        <container>container1</container>\n    </shipment>\n    <shipment>\n        <ship>ysaline</ship>\n        <eta>02/12/2024</eta>\n        <etd>02/12/2024</etd>\n        <num_processo>ESC20240230Q</num_processo>\n        <porto_origem>Terminal Multiusos de Leixões (Molhe Sul)</porto_origem>\n        <porto_destino>Vigo</porto_destino>\n        <container>container2</container>\n    </shipment>\n    <shipment>\n        <ship>ysaline</ship>\n        <eta>02/12/2024</eta>\n        <etd>03/12/2024</etd>\n        <num_processo>ESC20240230Q</num_processo>\n        <porto_origem>Terminal Multiusos de Leixões (Molhe Sul)</porto_origem>\n        <porto_destino>Malaga</porto_destino>\n        <container>container3</container>\n    </shipment>\n    <shipment>\n        <ship>ysaline</ship>\n        <eta>02/12/2024</eta>\n        <etd>03/12/2024</etd>\n        <num_processo>ESC20240230Q</num_processo>\n        <porto_origem>Terminal Multiusos de Leixões (Molhe Sul)</porto_origem>\n        <porto_destino>Malaga</porto_destino>\n        <container>container4</container>\n    </shipment>\n    <shipment>\n        <ship>ysaline</ship>\n        <eta>02/12/2024</eta>\n        <etd>05/12/2024</etd>\n        <num_processo>ESC20240230Q</num_processo>\n        <porto_origem>Terminal Multiusos de Leixões (Molhe Sul)</porto_origem>\n        <porto_destino>Praia da Vitoria</porto_destino>\n        <container>container5</container>\n    </shipment>\n    <shipment>\n        <ship>ysaline</ship>\n        <eta>03/12/2024</eta>\n        <etd>05/12/2024</etd>\n        <num_processo>ESC20240230Q</num_processo>\n        <porto_origem>Malaga</porto_origem>\n        <porto_destino>Praia da Vitoria</porto_destino>\n        <container>container6</container>\n    </shipment>\n</shipments>",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "File Size" : {
          "displayName" : "File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "mime-type" : {
          "displayName" : "Mime Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "mime-type",
          "sensitive" : false
        },
        "generate-ff-custom-text" : {
          "displayName" : "Custom Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "generate-ff-custom-text",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "1 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : {
    "DEV" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ ],
      "name" : "DEV",
      "parameters" : [ {
        "description" : "Nome do schema da base de dados",
        "name" : "schema_db_name",
        "provided" : false,
        "sensitive" : false,
        "value" : "nifi"
      }, {
        "description" : "Valor da tag que vai ser inserida no objeto do MinIO",
        "name" : "metadata_tag",
        "provided" : false,
        "sensitive" : false,
        "value" : "carbon_footprint_"
      }, {
        "description" : "Url da api do minIO em desenvolvimento",
        "name" : "MinIO_URL",
        "provided" : false,
        "sensitive" : false,
        "value" : "http://myminio:9000"
      }, {
        "description" : "Pasta para acessar dentro do bucket",
        "name" : "bucket_folder",
        "provided" : false,
        "sensitive" : false,
        "value" : "newdata"
      }, {
        "description" : "Fonte do objeto que vai para o MinIO",
        "name" : "metadata_source",
        "provided" : false,
        "sensitive" : false,
        "value" : "GenerateFlowFileNifi"
      }, {
        "description" : "Nome da tabela da bd pra inserir dados do container",
        "name" : "db_name",
        "provided" : false,
        "sensitive" : false,
        "value" : "container"
      }, {
        "description" : "Nome do bucket do MinIO",
        "name" : "bucket_name",
        "provided" : false,
        "sensitive" : false,
        "value" : "rawdata"
      }, {
        "description" : "Autor dos objetos que vão para o MinIO",
        "name" : "metadata_author",
        "provided" : false,
        "sensitive" : false,
        "value" : "MITMYNID"
      }, {
        "description" : "Valor da tag para pesquisar o valor de metadata_tag no objeto do MinIO",
        "name" : "searchByMetadata_tag",
        "provided" : false,
        "sensitive" : false,
        "value" : "carbon_footprint_20241213"
      } ]
    }
  },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "nifi",
    "flowIdentifier" : "dockernificontainer",
    "timestamp" : 0
  }
}