default/PutDatabaseRecord-Postgresql.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1733218968824,
    "description" : "",
    "identifier" : "PutDatabaseRecord-Postgresql",
    "lastModifiedTimestamp" : 1733218968824,
    "name" : "PutDatabaseRecord Postgresql",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "flow-contents-group",
        "id" : "e50259dd-18f9-3ca3-a0b9-e5d0d4be7ec1",
        "name" : "output",
        "type" : "OUTPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c0a607ab-78c0-30d4-a7ce-5eaaf2511180",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success", "failure", "retry" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "720bcc40-4b64-3d45-a2fb-dd5f55fcd53a",
        "name" : "PutDatabaseRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "720bcc40-4b64-3d45-a2fb-dd5f55fcd53a",
        "name" : "PutDatabaseRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "adc56db0-42fa-34de-bb88-e9a63512c18c",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "flow-contents-group",
        "id" : "5d6a33cf-9205-3279-a9ef-52417b236392",
        "name" : "getFile",
        "type" : "INPUT_PORT"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-dbcp-service-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "type" : "org.apache.nifi.dbcp.DBCPService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "bbd20276-1fa5-3910-ad40-bab31a6d87b7",
      "name" : "DBCPConnectionPool",
      "properties" : {
        "dbcp-min-idle-conns" : "0",
        "Max Wait Time" : "500 millis",
        "Database Driver Class Name" : "org.postgresql.Driver",
        "dbcp-min-evictable-idle-time" : "30 mins",
        "Max Total Connections" : "8",
        "dbcp-max-conn-lifetime" : "-1",
        "Database Connection URL" : "jdbc:postgresql://mypostgres:5432/postgres",
        "dbcp-time-between-eviction-runs" : "-1",
        "Database User" : "postgres",
        "dbcp-soft-min-evictable-idle-time" : "-1",
        "database-driver-locations" : "/opt/nifi/nifi-current/jdbc/postgresql-42.7.4.jar",
        "dbcp-max-idle-conns" : "8"
      },
      "propertyDescriptors" : {
        "dbcp-min-idle-conns" : {
          "displayName" : "Minimum Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-min-idle-conns",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Driver Class Name" : {
          "displayName" : "Database Driver Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Driver Class Name",
          "sensitive" : false
        },
        "dbcp-min-evictable-idle-time" : {
          "displayName" : "Minimum Evictable Idle Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-min-evictable-idle-time",
          "sensitive" : false
        },
        "Max Total Connections" : {
          "displayName" : "Max Total Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Total Connections",
          "sensitive" : false
        },
        "dbcp-max-conn-lifetime" : {
          "displayName" : "Max Connection Lifetime",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-max-conn-lifetime",
          "sensitive" : false
        },
        "Validation-query" : {
          "displayName" : "Validation query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Validation-query",
          "sensitive" : false
        },
        "Database Connection URL" : {
          "displayName" : "Database Connection URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Connection URL",
          "sensitive" : false
        },
        "dbcp-time-between-eviction-runs" : {
          "displayName" : "Time Between Eviction Runs",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-time-between-eviction-runs",
          "sensitive" : false
        },
        "Database User" : {
          "displayName" : "Database User",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database User",
          "sensitive" : false
        },
        "kerberos-user-service" : {
          "displayName" : "Kerberos User Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "kerberos-user-service",
          "sensitive" : false
        },
        "dbcp-soft-min-evictable-idle-time" : {
          "displayName" : "Soft Minimum Evictable Idle Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-soft-min-evictable-idle-time",
          "sensitive" : false
        },
        "database-driver-locations" : {
          "displayName" : "Database Driver Location(s)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "database-driver-locations",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "FILE", "DIRECTORY", "URL" ]
          },
          "sensitive" : false
        },
        "dbcp-max-idle-conns" : {
          "displayName" : "Max Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-max-idle-conns",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d4e2880d-e4c3-3e7b-95a2-81adaa43bbb4",
      "name" : "CSVReader",
      "properties" : {
        "ignore-csv-header" : "false",
        "Trim double quote" : "true",
        "CSV Format" : "custom",
        "Quote Character" : "\"",
        "csvutils-allow-duplicate-header-names" : "true",
        "Value Separator" : ",",
        "Record Separator" : "\\n",
        "Escape Character" : "\\",
        "Skip Header Line" : "false",
        "Trim Fields" : "true",
        "schema-name" : "${schema.name}",
        "csv-reader-csv-parser" : "commons-csv",
        "schema-access-strategy" : "infer-schema",
        "csvutils-character-set" : "UTF-8",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "ignore-csv-header" : {
          "displayName" : "Ignore CSV Header Column Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "ignore-csv-header",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Trim double quote" : {
          "displayName" : "Trim double quote",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Trim double quote",
          "sensitive" : false
        },
        "CSV Format" : {
          "displayName" : "CSV Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "CSV Format",
          "sensitive" : false
        },
        "Quote Character" : {
          "displayName" : "Quote Character",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Quote Character",
          "sensitive" : false
        },
        "csvutils-allow-duplicate-header-names" : {
          "displayName" : "Allow Duplicate Header Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "csvutils-allow-duplicate-header-names",
          "sensitive" : false
        },
        "Value Separator" : {
          "displayName" : "Value Separator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Value Separator",
          "sensitive" : false
        },
        "Record Separator" : {
          "displayName" : "Record Separator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Record Separator",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Escape Character" : {
          "displayName" : "Escape Character",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Escape Character",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Null String" : {
          "displayName" : "Null String",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null String",
          "sensitive" : false
        },
        "Skip Header Line" : {
          "displayName" : "Treat First Line as Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Skip Header Line",
          "sensitive" : false
        },
        "Trim Fields" : {
          "displayName" : "Trim Fields",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Trim Fields",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "csv-reader-csv-parser" : {
          "displayName" : "CSV Parser",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "csv-reader-csv-parser",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "Comment Marker" : {
          "displayName" : "Comment Marker",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Comment Marker",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "csvutils-character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "csvutils-character-set",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.csv.CSVReader"
    } ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "SINGLE_FLOWFILE_PER_NODE",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ {
      "allowRemoteAccess" : false,
      "componentType" : "INPUT_PORT",
      "concurrentlySchedulableTaskCount" : 1,
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5d6a33cf-9205-3279-a9ef-52417b236392",
      "name" : "getFile",
      "portFunction" : "STANDARD",
      "position" : {
        "x" : -224.0,
        "y" : -208.0
      },
      "scheduledState" : "ENABLED",
      "type" : "INPUT_PORT"
    } ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "Postgresql",
    "outputPorts" : [ {
      "allowRemoteAccess" : false,
      "componentType" : "OUTPUT_PORT",
      "concurrentlySchedulableTaskCount" : 1,
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e50259dd-18f9-3ca3-a0b9-e5d0d4be7ec1",
      "name" : "output",
      "portFunction" : "STANDARD",
      "position" : {
        "x" : -208.0,
        "y" : 232.0
      },
      "scheduledState" : "ENABLED",
      "type" : "OUTPUT_PORT"
    } ],
    "parameterContextName" : "DEV",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "720bcc40-4b64-3d45-a2fb-dd5f55fcd53a",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutDatabaseRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -264.0,
        "y" : -56.0
      },
      "properties" : {
        "put-db-record-allow-multiple-statements" : "false",
        "table-schema-cache-size" : "100",
        "put-db-record-schema-name" : "nifi",
        "put-db-record-quoted-table-identifiers" : "false",
        "put-db-record-unmatched-column-behavior" : "Fail on Unmatched Columns",
        "put-db-record-translate-field-names" : "true",
        "put-db-record-dcbp-service" : "bbd20276-1fa5-3910-ad40-bab31a6d87b7",
        "put-db-record-query-timeout" : "0 seconds",
        "rollback-on-failure" : "false",
        "put-db-record-statement-type" : "INSERT",
        "put-db-record-binary-format" : "UTF-8",
        "db-type" : "PostgreSQL",
        "put-db-record-quoted-identifiers" : "false",
        "put-db-record-table-name" : "container",
        "put-db-record-unmatched-field-behavior" : "Ignore Unmatched Fields",
        "put-db-record-max-batch-size" : "1000",
        "put-db-record-record-reader" : "d4e2880d-e4c3-3e7b-95a2-81adaa43bbb4",
        "database-session-autocommit" : "false"
      },
      "propertyDescriptors" : {
        "put-db-record-allow-multiple-statements" : {
          "displayName" : "Allow Multiple SQL Statements",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-allow-multiple-statements",
          "sensitive" : false
        },
        "table-schema-cache-size" : {
          "displayName" : "Table Schema Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "table-schema-cache-size",
          "sensitive" : false
        },
        "put-db-record-schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-schema-name",
          "sensitive" : false
        },
        "put-db-record-field-containing-sql" : {
          "displayName" : "Field Containing SQL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-field-containing-sql",
          "sensitive" : false
        },
        "put-db-record-quoted-table-identifiers" : {
          "displayName" : "Quote Table Identifiers",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-quoted-table-identifiers",
          "sensitive" : false
        },
        "Statement Type Record Path" : {
          "displayName" : "Statement Type Record Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Statement Type Record Path",
          "sensitive" : false
        },
        "put-db-record-unmatched-column-behavior" : {
          "displayName" : "Unmatched Column Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-unmatched-column-behavior",
          "sensitive" : false
        },
        "Delete Keys" : {
          "displayName" : "Delete Keys",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Keys",
          "sensitive" : false
        },
        "put-db-record-catalog-name" : {
          "displayName" : "Catalog Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-catalog-name",
          "sensitive" : false
        },
        "put-db-record-translate-field-names" : {
          "displayName" : "Translate Field Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-translate-field-names",
          "sensitive" : false
        },
        "put-db-record-dcbp-service" : {
          "displayName" : "Database Connection Pooling Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "put-db-record-dcbp-service",
          "sensitive" : false
        },
        "put-db-record-query-timeout" : {
          "displayName" : "Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-query-timeout",
          "sensitive" : false
        },
        "rollback-on-failure" : {
          "displayName" : "Rollback On Failure",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "rollback-on-failure",
          "sensitive" : false
        },
        "put-db-record-statement-type" : {
          "displayName" : "Statement Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-statement-type",
          "sensitive" : false
        },
        "put-db-record-binary-format" : {
          "displayName" : "Binary String Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-binary-format",
          "sensitive" : false
        },
        "db-type" : {
          "displayName" : "Database Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "db-type",
          "sensitive" : false
        },
        "put-db-record-update-keys" : {
          "displayName" : "Update Keys",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-update-keys",
          "sensitive" : false
        },
        "put-db-record-quoted-identifiers" : {
          "displayName" : "Quote Column Identifiers",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-quoted-identifiers",
          "sensitive" : false
        },
        "put-db-record-table-name" : {
          "displayName" : "Table Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-table-name",
          "sensitive" : false
        },
        "put-db-record-unmatched-field-behavior" : {
          "displayName" : "Unmatched Field Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-unmatched-field-behavior",
          "sensitive" : false
        },
        "put-db-record-max-batch-size" : {
          "displayName" : "Maximum Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-max-batch-size",
          "sensitive" : false
        },
        "put-db-record-record-reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "put-db-record-record-reader",
          "sensitive" : false
        },
        "Data Record Path" : {
          "displayName" : "Data Record Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Record Path",
          "sensitive" : false
        },
        "database-session-autocommit" : {
          "displayName" : "Database Session AutoCommit",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "database-session-autocommit",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "60 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutDatabaseRecord",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : {
    "DEV" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ ],
      "name" : "DEV",
      "parameters" : [ {
        "description" : "Nome do schema da base de dados",
        "name" : "schema_db_name",
        "provided" : false,
        "sensitive" : false,
        "value" : "nifi"
      }, {
        "description" : "Valor da tag que vai ser inserida no objeto do MinIO",
        "name" : "metadata_tag",
        "provided" : false,
        "sensitive" : false,
        "value" : "carbon_footprint_"
      }, {
        "description" : "Url da api do minIO em desenvolvimento",
        "name" : "MinIO_URL",
        "provided" : false,
        "sensitive" : false,
        "value" : "http://myminio:9000"
      }, {
        "description" : "Pasta para acessar dentro do bucket",
        "name" : "bucket_folder",
        "provided" : false,
        "sensitive" : false,
        "value" : "newdata"
      }, {
        "description" : "Nome do bucket do MinIO",
        "name" : "bucket_name",
        "provided" : false,
        "sensitive" : false,
        "value" : "shipdata"
      }, {
        "description" : "Valor da tag para pesquisar o valor de metadata_tag no objeto do MinIO",
        "name" : "searchByMetadata_tag",
        "provided" : false,
        "sensitive" : false,
        "value" : "carbon_footprint_20241202"
      } ]
    }
  },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "nifi",
    "flowIdentifier" : "PutDatabaseRecord-Postgresql",
    "timestamp" : 0
  }
}